@import "normalize.less";
#homepage {
    width: 100%;
    position: relative;
    -webkit-transition: 1s cubic-bezier(.86, 0, .07, 1);
    transition: 1s cubic-bezier(.86, 0, .07, 1);
    section {
        position: relative;
        width: 100%;
        height: 100%;
        &:nth-child(2) {
            background: #E7EEF1
        }
        &:nth-child(3) {
            background: #C779C8
        }
        &:nth-child(4) {
            // background: linear-gradient(to bottom,rgba(18,227,134,1) 0,rgba(28,188,220,1) 90%);
        }
        .aboutme {
            .location {
                margin-top: 20%;
                img {
                    margin: 0 auto;
                }
            }
        }
        footer {
            position: absolute;
            bottom: 0;
        }
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide {
            background-position: center;
            background-size: cover;
        }
        .swiper-pagination {
            position: absolute;
            bottom: 30px;
            width: 100%;
            text-align: center;
            z-index: 9;
            span {
                margin: 15px;
            }
        }
    }
    .course {
        
        .header {
            width: 100%;
        }
        .num {
            margin: 0 10px;
            font-size: 50px;
            font-family: ftFont;
            color: #F7941D;
        }
        .content {
            .list {
                text-align: center;
                background-color: white;
                overflow: hidden;
                .head {
                    position: relative;
                    span {
                        position: absolute;
                        height: 30px;
                        line-height: 30px;
                        top: -16px;
                        left: -47px;
                        width: 120px;
                        transform:rotate(-45deg);
                        background-color: red;
                        color: white;

                    }
                    h4 {
                        width: 100px;
                        margin: 30px auto;
                        border-bottom: 1px solid #FCD09D;
                    }
                }
                a{
                    padding: 10px;
                    display: block;
                    width: 120px;
                    line-height: 1;
                    margin: 15px auto;
                    cursor: pointer;
                }
            }
        }
    }
}

#course {
    margin-top: 50px;
    .container {
        .tab_nav {
            ul {
                zoom: 1;
                font-size: 14px;
            }
            .style {
                border-top: 1px solid #D0D0D0;
            }
        }
    }
}
