body,
ul,
dl,
dt,
dd,
ol,
p,
li {
  margin: 0;
  padding: 0;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  height: 100%;
  background: #fff;
  color: black;
  font-size: 14px;
  padding-right: 0!important;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
@font-face {
  font-family: ftFont;
  src: url('../images/font/num.ttf');
}
.showbar {
  transform: translateX(-100%);
}
.showsuggest {
  opacity: 1;
}
.btn_ft {
  height: 30px;
  border-radius: 15px;
  background-color: #29C2E1;
  color: white;
}
.current {
  background: #056C83;
}
.show {
  display: block;
}
header nav {
  height: 80px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  header nav {
    height: 50px;
  }
}
header .navbar-header .reglogin {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  z-index: 999;
}
header .navbar-header .navbar-brand {
  padding: 0 15px;
  margin-right: 30px;
}
header .navbar-header .navbar-brand img {
  margin-top: 25px;
}
@media (max-width: 768px) {
  header .navbar-header .navbar-brand img {
    margin-top: 11px;
  }
}
header .navbar-content {
  height: 80px;
}
header .navbar-content li {
  height: 80px;
  line-height: 80px;
  margin: 0 0 0 15px;
}
header .navbar-content li #dropdown-wx-menu li {
  height: 30px;
  line-height: 30px;
}
header .navbar-content .navbar-nav > .login span {
  width: 75px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  line-height: 2;
  display: inline-block;
  cursor: pointer;
}
header .navbar-content .navbar-nav > li > a {
  font-size: 14px;
  padding: 30px 0 28px 0;
  margin: 0 15px;
}
header .navbar-content .navbar-nav > li > a.active,
header .navbar-content .navbar-nav > li > a:hover,
header .navbar-content .navbar-nav > li > a.selected {
  font-size: 18px;
  color: red;
  outline: none;
}
header .navbar-content .navbar-nav > li > a:focus {
  outline: none;
}
@media (max-width: 768px) {
  header .navbar-content {
    width: 60%;
    height: 100%;
    max-height: 100%!important;
    display: block;
    position: fixed;
    top: 50px;
    right: -60%;
    background-color: #DDDDDD;
    padding: 0 15px;
    transition: 0.3s all ease;
  }
  header .navbar-content .navbar-right {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  header .navbar-content .navbar-right li {
    display: inline-block !important;
    height: 50px;
    margin: 0;
  }
  header .navbar-content .navbar-right li a {
    padding: 0;
    margin: 0;
  }
  header .navbar-content .navbar-right .icon {
    text-align: center;
    width: 20%;
    font-size: 24px;
    position: relative;
  }
  header .navbar-content .navbar-right .icon span {
    display: inline-block;
    position: relative;
    left: 20%;
    top: -15px;
  }
  header .navbar-content .navbar-right .reg,
  header .navbar-content .navbar-right .login {
    text-align: center;
    width: 30%;
    position: relative;
  }
  header .navbar-content .navbar-right .reg a,
  header .navbar-content .navbar-right .login a {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
  }
  header .navbar-content .navbar-right .reg span,
  header .navbar-content .navbar-right .login span {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px;
    line-height: 1;
  }
  header .navbar-content .dropdown-menu {
    display: block;
    position: inherit;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    box-shadow: none;
  }
}
header #frmlogin .modal-footer .btn-reg {
  background-color: #fff;
  color: black;
}
header #frmlogin .modal-footer .btn_ft {
  display: inline-block;
  width: 60px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border: none;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #1CBCDC;
  z-index: 9999;
}
footer .pull-right {
  position: relative;
}
footer .pull-right span {
  font-size: 20px;
  top: 5px;
}
footer .pull-right .suggest_area {
  display: none;
  transition: 0.3s all ease;
  position: absolute;
  bottom: 60px;
  right: 0;
}
footer .pull-right .suggest_area input {
  width: 231px;
  height: 30px;
}
#back-top {
  z-index: 99;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #333;
  text-align: center;
}
#back-top span {
  margin-top: 8px;
  color: white;
  font-size: 30px;
}
#homepage {
  width: 100%;
  position: relative;
  -webkit-transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
}
#homepage section {
  position: relative;
  width: 100%;
  height: 100%;
}
#homepage section:nth-child(2),
#homepage section:nth-child(4) {
  background: #E7EEF1;
}
#homepage section .fp-tableCell {
  height: 100%;
}
#homepage section footer {
  position: absolute;
  bottom: 0;
}
#homepage section .course_head {
  width: 100%;
  margin-bottom: 50px;
}
#homepage section .pull-left h2 {
  font-size: 30px;
  font-weight: 800;
}
#homepage section .pull-left p {
  font-size: 22px;
}
#homepage section .aboutme h2,
#homepage section .wedo h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}
#homepage section .aboutme p,
#homepage section .wedo p {
  margin-bottom: 25px;
}
#homepage .swiper-container {
  width: 100%;
  height: 100%;
}
#homepage .swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
}
#homepage .swiper-container .swiper-pagination {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  z-index: 9;
}
#homepage .swiper-container .swiper-pagination span {
  margin: 15px;
}
#homepage .course .num {
  margin: 0 10px;
  font-size: 50px;
  font-family: ftFont;
  color: #F7941D;
}
#homepage .course .content {
  display: flex;
  justify-content: space-around;
}
#homepage .course .content .list {
  text-align: center;
  background-color: white;
  overflow: hidden;
  margin: 0 20px;
}
#homepage .course .content .list .head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 120px;
  border-bottom: 1px solid #EEF3F4;
}
#homepage .course .content .list .head span {
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 12px;
  left: -35px;
  width: 120px;
  transform: rotate(-45deg);
  background-color: #E20000;
  color: white;
}
#homepage .course .content .list .head h4 {
  width: 100%;
  height: 65px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  border-bottom: 1px solid #EEF3F4;
  margin: 0;
  padding: 30px 0;
}
#homepage .course .content .list .head .line {
  width: 110px;
  position: absolute;
  left: 50%;
  top: 64px;
  margin-left: -55px;
  height: 1px;
  background-color: red;
}
#homepage .course .content .list .head p {
  text-align: center;
  font-size: 24px;
  font-family: Tahoma;
  letter-spacing: 2px;
  color: black;
  margin: 10px 0 0 0;
}
#homepage .course .content .list .message {
  margin-top: 140px;
}
#homepage .course .content .list .message .time {
  margin-bottom: 26px;
  font-size: 12px;
}
#homepage .course .content .list .message .video {
  width: 90%;
  height: 110px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #888888;
  position: relative;
}
#homepage .course .content .list .message .video .blue {
  margin-top: 35px;
  color: #005896;
  font-weight: 700;
}
#homepage .course .content .list .message .video .black {
  color: black;
  font-weight: 700;
  margin-top: 5px;
}
#homepage .course .content .list .message .video span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #29C2E1;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 8px;
  padding-left: 6px;
  border: 1px solid #eee;
  background-color: rgba(250, 250, 250, 0.2);
  box-shadow: 0px 0px 20px #B9B9B9;
}
#homepage .course .content .list .message .video span:before {
  opacity: 0.6;
}
#homepage .course .content .list a {
  padding: 10px;
  display: block;
  width: 120px;
  line-height: 1;
  margin: 15px auto;
  cursor: pointer;
}
#homepage .course .swiper-teacher {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
#homepage .course .swiper-teacher .swiper-slide {
  width: 80%;
}
#homepage .aboutme {
  height: 200px;
}
#homepage .aboutme h2 {
  padding-bottom: 30px;
}
#homepage .aboutme p {
  padding-left: 50px;
}
#homepage .aboutme .col-sm-5 {
  display: flex;
  justify-content: space-around;
}
#homepage .aboutme .col-sm-5 img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#homepage .wedo .btn_ft {
  padding: 6px;
  display: inline-block;
  width: 120px;
  text-align: center;
  cursor: pointer;
}
#homepage .location dl {
  padding-left: 30px;
}
#homepage .location dl dt {
  font-size: 26px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}
#homepage .location dl dd {
  margin-top: 12px;
}
#homepage .location dl dd p {
  margin-bottom: 20px;
}
#ft_course .content .container .tab_head ul li {
  float: left;
  height: 40px;
  margin-left: 10px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  padding: 0 10px;
}
#ft_course .content .container .tab_head .tab_nav ul {
  zoom: 1;
  font-size: 14px;
}
@media (max-width: 768px) {
  #ft_course .content .container .tab_head .tab_nav ul {
    display: none;
  }
}
#ft_course .content .container .tab_head .tab_nav .style {
  border-top: 1px solid #D0D0D0;
}
#ft_course .content .container .course_center .list {
  display: block;
  width: 100%;
  margin-top: 15px;
  height: 110px;
  border-bottom: 1px solid #ddd;
}
#ft_course .content .container .course_center .list .list_left {
  padding: 0;
  background-color: #CFCDED;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 90px;
  text-align: center;
}
#ft_course .content .container .course_center .list .list_left .season {
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
}
#ft_course .content .container .course_center .list .list_left .glyphicon {
  font-size: 40px;
  margin-top: 10px;
}
#ft_course .content .container .course_center .list .list_left h3 {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  text-shadow: 0px 0px 6px #fff;
}
#ft_course .content .container .course_center .list .list_left.spring {
  background-color: #54C1E0;
}
#ft_course .content .container .course_center .list .list_left.summer {
  background-color: #CECDED;
}
#ft_course .content .container .course_center .list .list_left.autumn {
  background-color: #F2D9B1;
}
#ft_course .content .container .course_center .list .list_left.winter {
  background-color: #B9E7F4;
}
#ft_course .content .container .course_center .list .list_right {
  padding: 0;
  padding-left: 10px;
}
#ft_course .content .container .course_center .list .list_right h2 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}
#ft_course .content .container .course_center .list .list_right ul li {
  float: left;
  margin-right: 5px;
  line-height: 20px;
  font-size: 12px;
}
#ft_course .content .container .course_center .list .list_right ul li i {
  display: inline-block;
  width: 2px;
  height: 2px;
  line-height: 1;
  border-radius: 50%;
  background-color: #000;
  vertical-align: middle;
  margin-right: 5px;
}
#ft_course .content .container .course_center .list .list_right p {
  font-size: 12px;
  margin: 5px;
}
#ft_course .content .container .course_center .list .list_right .price {
  font-size: 12px;
}
#ft_course .content .container .course_center .list .list_right .status {
  float: right;
  margin-right: 15px;
}
#ft_course .content .container .course_center .list .list_right .status.full {
  color: #bebebe;
}
#ft_course .content .container .course_center .list .list_right .status.danger {
  color: #EF0602;
}
#ft_course .content .container .course_center .list .list_right .status.hot {
  color: #F7941D;
}
#ft_course .content .container #course_end {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
@media (min-width: 769px) {
  #ft_course .content {
    margin-top: 140px;
  }
  #ft_course .content .container .tab_head .yx {
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 80px;
    left: 0;
    background-color: #AFAFAF;
    z-index: 999;
  }
  #ft_course .content .container .tab_head .yx .container {
    height: 50px;
  }
  #ft_course .content .container .tab_head .yx .container span {
    margin-left: 15px;
    text-align: center;
    display: block;
    width: 80px;
    height: 100%;
    float: left;
  }
  #ft_course .content .container .tab_head .yx .container ul {
    margin-left: 105px;
    height: 50px;
    line-height: 50px;
  }
  #ft_course .content .container .tab_head .yx .container ul li.current {
    width: 100px;
    height: 28px;
    margin-top: 11px;
    line-height: 28px;
    background-color: #29C2E1;
    color: white;
    margin-left: 15px;
    padding: 0 20px;
  }
  #ft_course .content .container .tab_head .tab_nav .list {
    padding: 5px 15px;
  }
  #ft_course .content .container .tab_head .tab_nav .list span {
    text-align: center;
    display: block;
    width: 80px;
    height: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
  }
  #ft_course .content .container .tab_head .tab_nav .list ul {
    margin-left: 90px;
  }
  #ft_course .content .container .tab_head .tab_nav .list ul li {
    width: 100px;
    text-align: center;
    height: 28px;
    margin-top: 6px;
    margin-bottom: 10px;
    line-height: 28px;
    background-color: #fff;
    color: black;
    margin-left: 15px;
    padding: 0;
  }
  #ft_course .content .container .tab_head .tab_nav .list ul li.current {
    background-color: #29C2E1;
    color: white;
  }
  #ft_course .content .container .course_center {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  #ft_course .content .container .course_center .list {
    height: 150px;
  }
  #ft_course .content .container .course_center .list .list_left {
    height: 120px;
    background-color: #B2E8F4;
  }
  #ft_course .content .container .course_center .list .list_left h3 {
    margin-top: 18px;
  }
  #ft_course .content .container .course_center .list .list_left .season {
    width: 50px;
    height: 50px;
    top: -10px;
    left: -10px;
    padding-top: 10px;
    font-size: 18px;
  }
  #ft_course .content .container .course_center .list .list_left .glyphicon {
    font-size: 40px;
    margin-top: 30px;
  }
  #ft_course .content .container .course_center .list .list_right {
    padding-left: 50px;
  }
  #ft_course .content .container .course_center .list .list_right h2 {
    font-size: 26px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #ft_course .content .container .course_center .list .list_right ul {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #ft_course .content .container .course_center .list .list_right ul li {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }
  #ft_course .content .container .course_center .list .list_right p {
    margin: 10px 0;
  }
  #ft_course .content .container .course_center .list .list_right .pullright .status {
    float: none;
    margin-left: 180px;
    font-size: 24px;
  }
  #ft_course .content .container .course_center .list .col-sm-3 {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #ft_course .content .container .course_center .list .col-sm-3 .num {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #D5D5D5;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
  }
  #ft_course .content .container .course_center .list .col-sm-3 .num span {
    font-family: ftFont;
    font-size: 40px;
  }
  #ft_course .content .container .course_center .list .col-sm-3 .btn_ft {
    display: block;
    width: 80px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #ft_course .content {
    margin-top: 50px;
  }
  #ft_course .content .container .tab_head {
    position: fixed;
    top: 60px;
    left: 3%;
    width: 94%;
    background-color: #fff;
    z-index: 999;
    padding-bottom: 15px;
  }
  #ft_course .content .container .tab_nav {
    height: 34px;
    border: 2px solid #29c2e1;
    border-radius: 4px;
  }
  #ft_course .content .container .tab_nav > div {
    border: none;
  }
  #ft_course .content .container .tab_nav .list {
    padding: 0;
    border: none;
    border-right: 2px solid #29c2e1;
    z-index: 99;
  }
  #ft_course .content .container .tab_nav .list ul {
    display: none;
    position: fixed;
    top: 110px;
    left: 3%;
    width: 94%;
    border: 0px solid #29c2e1;
    background-color: #29c2e1;
    color: white;
    border-radius: 5px;
    overflow: hidden;
  }
  #ft_course .content .container .tab_nav .list ul li {
    margin-left: 0;
  }
  #ft_course .content .container .tab_nav .list span {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 32px;
    text-align: center;
    color: #29c2e1;
    font-size: 16px;
  }
  #ft_course .content .container .tab_nav .area ul li,
  #ft_course .content .container .tab_nav .sort ul li,
  #ft_course .content .container .tab_nav .subject ul li {
    width: 100%;
    float: none;
    border-bottom: 1px solid #B1E4F2;
  }
  #ft_course .content .container .tab_nav .area ul li:nth-last-child(1),
  #ft_course .content .container .tab_nav .sort ul li:nth-last-child(1),
  #ft_course .content .container .tab_nav .subject ul li:nth-last-child(1) {
    border-bottom: none;
  }
  #ft_course .content .container .tab_nav .grad li {
    width: 33.3%;
    border-bottom: 1px solid #B1E4F2;
    border-right: 1px solid #B1E4F2;
  }
  #ft_course .content .container .tab_nav .grad li:nth-child(3n+0) {
    border-right: none;
  }
  #ft_course .content .container .tab_nav .grad li:nth-child(n+10) {
    border-bottom: none;
  }
  #ft_course .content .container .tab_nav .sort {
    border: none;
  }
  #ft_course .content .container .course_center {
    margin-top: 65px;
  }
}
#ft_course_detail {
  margin-top: 80px;
}
#ft_course_detail .banner {
  background: url(../images/uploads/course_center.jpg) center;
}
#ft_course_detail .banner .container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}
#ft_course_detail .banner .video img {
  border-radius: 10px;
}
#ft_course_detail .banner .video video {
  display: none;
}
#ft_course_detail .banner .course {
  padding: 0;
  margin: 0 20px;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}
#ft_course_detail .banner .course h2 {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 38px;
  background-color: rgba(255, 255, 255, 0.4);
}
#ft_course_detail .banner .course .content {
  position: relative;
  padding: 10px 0;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}
#ft_course_detail .banner .course .content li {
  margin: 5px 0;
}
#ft_course_detail .banner .course .content li .price,
#ft_course_detail .banner .course .content li .num {
  font-size: 22px;
  margin-right: 30px;
  color: #EF0506;
}
#ft_course_detail .banner .course .content li .time {
  font-size: 20px;
  color: #232323;
}
#ft_course_detail .banner .course .content li .list {
  border: 1px solid #777;
  border-radius: 10px;
  padding: 0px 5px;
  margin-right: 5px;
}
#ft_course_detail .banner .course .content .title {
  font-weight: 600;
  display: inline-block;
  color: #080808;
  text-align: justify;
  margin-right: 20px;
}
#ft_course_detail .banner .course .content .status {
  display: inline-block;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 24px 0 0 24px;
  color: white;
  background-color: #ED0505;
  position: absolute;
  top: 10px;
  right: 0;
}
#ft_course_detail .course_choose .content li {
  cursor: pointer;
}
#ft_course_detail .course_choose .content .tab_result {
  margin: 10px 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
#ft_course_detail .course_choose .content .tab_result span {
  float: left;
  width: 100px;
  font-size: 22px;
}
#ft_course_detail .course_choose .content .tab_result ul {
  width: 100%;
}
#ft_course_detail .course_choose .content .tab_result ul li {
  float: left;
  width: auto;
  margin: 0 20px;
  font-size: 22px;
  color: #29C3DF;
}
#ft_course_detail .course_choose .content .tab_list {
  text-align: center;
  height: 50px;
  line-height: 50px;
}
#ft_course_detail .course_choose .content .tab_list li {
  padding: 0;
  color: black;
  font-size: 30px;
  cursor: pointer;
}
#ft_course_detail .course_choose .content .tab_list li.current {
  color: white;
  background-color: #29C2E1;
}
#ft_course_detail .course_choose .content .tab_content {
  text-align: center;
  font-size: 28px;
  position: relative;
  height: 450px;
  margin: 20px 0;
}
#ft_course_detail .course_choose .content .tab_content li.current {
  color: white;
  background-color: #29C2E1;
}
#ft_course_detail .course_choose .content .tab_content .area {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}
#ft_course_detail .course_choose .content .tab_content .area li {
  margin-top: 30px;
}
#ft_course_detail .course_choose .content .tab_content .area .detail {
  width: 100%;
}
#ft_course_detail .course_choose .content .tab_content .area .detail .col-sm-4 {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ft_course_detail .course_choose .content .tab_content .area span {
  display: inline-block;
  border-radius: 10px;
  width: 80%;
  font-size: 24px;
  padding: 20px;
  color: black;
  background-color: #CEF0F7;
}
#ft_course_detail .course_choose .content .tab_content .teachers {
  position: absolute;
  top: 10px;
  left: 0;
  display: none;
  width: 100%;
}
#ft_course_detail .course_choose .content .tab_content .teachers li {
  padding: 0 3%;
}
#ft_course_detail .course_choose .content .tab_content .teachers .name {
  display: block;
  border-radius: 30px;
  margin: 20px 0;
  font-size: 18px;
}
#ft_course_detail .course_choose .content .tab_content .teachers .name.current {
  color: white;
  background-color: #29C2E1;
}
#ft_course_detail .course_choose .content .tab_content .times {
  position: absolute;
  top: 10px;
  left: 0;
  display: none;
  width: 100%;
  text-align: center;
}
#ft_course_detail .course_choose .content .tab_content .times th {
  text-align: center;
}
#ft_course_detail .course_choose .content .tab_content .times table {
  max-height: 300px;
  width: 100%;
  border-collapse: collapse;
}
#ft_course_detail .course_choose .content .tab_content .times table td,
#ft_course_detail .course_choose .content .tab_content .times table th {
  border: 1px solid #d1d1d1;
}
