@import "normalize.less";
.navbar {
    .navbar-brand {
        img {
            margin-top: -6px;
        }
    }
}

#back-top {
    display: none;
  
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    span {
    	margin-top: 8px;
        color: white;
        font-size: 30px;
    }
}
