@import "variables.less";
@import "lesshat.less";

body {
    background: #fff url("../images/bg-index-body.jpg") 60%;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";

    .menu {
        a {
            text-decoration: none;
            color: @brand-info;
        }

        a.selected {
            color: @brand-warning;
            border-bottom: 2px solid @brand-warning;
        }

        a:hover {
            color: @brand-warning;
        }

        .user_level {
            color: @brand-warning;
        }

        .badge {
            background-color: @brand-warning;
        }
    }

    .more-info {
        height: 50px;

        a {
            display: block;
            width: 170px;
            height: 50px;
            line-height: 48px;
            margin: 0 auto;
            padding: 0 20px;
            border-radius: 25px;
            border: 2px solid #3EB2CF;
            font-size: 18px;
            letter-spacing: 4px;
            text-decoration: none;
            color: #3EB2CF;

            span {
                font-size: 14px;
            }

            &:hover {
                color: white;
                background-color: #3EB2CF;
            }
        }
    }
}

.service {
    ol,
    ul {
        list-style: none;
    }

    img {
        border: none;
        outline: none;
    }

    a {
        color: #666;
        text-decoration: none;
        outline: none;
    }

    a:hover {
        color: #e8431f;
    }

    #floatDivBoxs {
        width: 170px;
        background: #fff;
        position: fixed;
        top: 90px;
        right: 0;
        z-index: 999;

        .floatDtt {
            width: 100%;
            height: 45px;
            line-height: 45px;
            background: #f08326;
            color: #fff;
            font-size: 18px;
            text-indent: 22px;
            position: relative;
        }

        .floatShadow {
            background: #fff;
            box-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);

            .floatDqq {
                padding: 0 14px;

                li {
                    height: 45px;
                    line-height: 45px;
                    font-size: 15px;
                    border-bottom: 1px solid #e3e3e3;
                    padding: 0 0 0 50px;
                }
            }

            .floatDtxt {
                font-size: 18px;
                color: #333;
                padding: 5px 14px;
            }

            .floatDtel {
                padding: 0 0 15px 10px;

                img {
                    display: block;
                }
            }

            .floatDbg {
                width: 100%;
                height: 20px;
                background: url("../images/online_botbg.jpg") no-repeat;
                box-shadow: -2px 0 3px rgba(0, 0, 0, 0.25);
            }
        }
    }

    #rightArrow {
        width: 50px;
        height: 45px;
        background: url("../images/online_arrow.jpg") no-repeat;
        position: fixed;
        top: 90px;
        right: 170px;
        z-index: 999;

        a {
            display: block;
            height: 45px;
        }
    }
}

header {
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {
        color: @brand-danger;
        border-bottom: 2px solid @brand-danger;
    }

    a:focus {
        outline: none;
    }

    .nav li > a {
        padding: 15px;
        margin: 0 15px;
        line-height: 14px;
        letter-spacing: 1.5px;
        color: #27272b;

        &.selected {
            color: @brand-danger;
            border-bottom: 2px solid @brand-danger;
        }
        @media(min-width: @screen-sm-min) {
            padding: 38px 0 35px;
            margin: 0 10px;
        }
    }

    .navbar {
        background: white;
        margin-bottom: 0;
        font-family: @font-family-fangtian;
        border-bottom: 1px solid #f0f0f0;
        @media (min-width: @screen-sm-min) {
            height: 90px;
        }
    }

    .navbar .container .navbar-brand {
        background-image: url(../images/logo_b.png), none;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 42px;
        width: 150px;
        padding: 0;
        text-indent: -9999px;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 50px;
        @media (min-width: @screen-sm-min) {
            margin-top: 25px;
            margin-left: 0;
        }
    }

    .dropdown {
        ul li a {
            padding: 3px 20px;
            margin: 10px 0;
        }
    }

    #dropdown-wx-menu {
        .wxqr {
            border: none;
            margin-bottom: 0;
        }

        .wx_desc {
            text-align: center;
            color: @brand-danger;
        }
    }
}

#home {
    .navbar {
        color: black;
        margin-bottom: 0;
        font-family: @font-family-fangtian;
        border: none;
        background: white;

        a {
            color: black;
        }
        @media (min-width: @screen-sm-min) {
            background: rgba(255, 255, 255, 0);
        }
    }

    #homecontainer {
        .video {
            display: none;
            @media (min-width: @screen-sm-min) {
                display: block;
                height: 100vh;
                width: 100%;
                overflow: hidden;

                .bg {
                    background: url("../images/fangtian_about02.jpg") no-repeat;
                    background-size: 100% 100%;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }

        .banner {
            width: 100%;
            height: 200px;

            .swiper-banner {
                width: 100%;
                height: 100%;

                .swiper-wrapper {
                    text-align: center;

                    a {
                        display: inline-block;
                        margin-top: 50px;
                    }
                }
            }
        }

        .news {
            height: 30px;
            overflow: hidden;

            .swiper-news {
                width: 100%;
                height: 30px;

                .swiper-wrapper {
                    li {
                        line-height: 30px;
                        font-size: 14px;
                        margin-left: 10px;

                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .intro {
            padding: 20px 0 0;
            text-align: center;
            background-image: url("../images/bg-index-body.jpg");
            background-repeat: repeat;

            .intro_img {
                padding: 30px 0;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .glyphicon {
                    cursor: pointer;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    margin-left: -25px;
                    margin-top: -25px;
                    font-size: 50px;
                    color: white;
                    transition: transform 0.6s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .title {
                padding: 0 10px;

                h2 {
                    color: #fec20b;
                    font-weight: 700;
                    letter-spacing: 8px;
                    font-size: 44px;

                    .first-word {
                        color: #3eb2cf;
                    }
                }

                .intro_detail {
                    text-align: center;
                    margin-top: 35px;
                    color: #888888;
                }
            }

            .more-info {
                margin: 40px 0;
                height: 50px;

                a {
                    @media (min-width: @screen-sm-min) {
                        margin: 0;
                    }
                }
            }
            @media (min-width: @screen-sm-min) {
                padding-top: 70px;
                padding-bottom: 70px;

                .title {
                    padding: 20px 10px;

                    .intro_detail {
                        text-align: left;
                    }
                }
            }
            @media (min-width: @screen-md-min) {
                padding-top: 114px;
                padding-bottom: 114px;
            }
        }

        .our {
            text-align: center;
            background-image: url("../images/bg-index-body.jpg");
            background-repeat: repeat;
            overflow: hidden;

            .range-content {
                position: relative;

                .content_r {
                    display: none;
                    @media (min-width: @screen-sm-min) {
                        display: block !important;
                        width: 46vw;
                        background-image: url("../images/content_r.png");
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 100%;
                        -webkit-background-size: cover;
                        background-size: cover;
                    }
                }

                .content_l {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    @media (min-width: @screen-md-min) {
                        padding-top: 100px;
                        padding-bottom: 100px;
                    }

                    h2 {
                        color: #fec20b;
                        font-weight: 700;
                        letter-spacing: 7px;
                        font-size: 44px;

                        .first-word {
                            color: #3eb2cf;
                        }
                    }

                    .title {
                        margin-top: 35px;
                        font-size: 14px;
                        line-height: 1.57143;
                        color: #888888;
                        @media (min-width: @screen-md-min) {
                            margin-top: 60px;
                        }
                    }

                    .stats {
                        display: block;
                        margin-top: 65px;

                        &:hover {
                            text-decoration: none;
                        }

                        .stats_l {
                            padding: 0;

                            .glyphicon {
                                color: #3eb2cf;
                                font-size: 60px;
                                line-height: 61px;
                            }
                        }

                        .stats_r {
                            padding: 0;
                            text-align: center;

                            h3 {
                                margin-top: 0;
                                color: #fec20b;
                            }

                            h6 {
                                width: auto;
                                margin: 0 auto;
                                font-size: 18px;
                                @media (min-width: @screen-sm-min) {
                                    max-width: 140px;
                                }
                            }
                        }
                    }

                    .singup {
                        text-align: center;
                        margin-top: 60px;
                    }
                }
            }
        }

        .about {
            background: #3eb2cf;
            fill: #3eb2cf;
            text-align: center;
            padding: 20px 0;

            h2 {
                color: white;
                font-weight: 700;
                letter-spacing: 8px;
                font-size: 44px;

                .first-word {
                    color: #3eb2cf;
                }
            }

            .aim {
                margin-top: 30px;
                margin-bottom: 30px;
                color: #fff;
                font-size: 16px;
            }

            .range {
                margin-left: -10px;
                margin-right: -10px;
                margin-top: 30px;
            }

            .item {
                margin-top: 20px;

                .class-info {
                    max-width: 370px;
                    background: #fff;
                    margin: 0 auto;

                    .class-detail {
                        padding: 10px;

                        time {
                            font-style: italic;
                            font-size: 14px;
                            line-height: 1.57143;
                            color: #888888;
                        }

                        h4 {
                            a {
                                color: #fec20b;
                            }
                        }
                    }
                }
            }

            .more-info {
                width: auto;
                margin-top: 40px;

                a {
                    padding: 0;
                    color: #fec20b;
                    background-color: #fff;

                    &:hover {
                        color: #fff;
                        background-color: #fec20b;
                    }
                }
            }
            @media (min-width: @screen-md-min) {
                padding-top: 70px;
                padding-bottom: 70px;

                .aim {
                    margin-top: 60px;
                }

                .more-info {
                    margin-top: 60px;
                }
            }
        }

        .teacher {
            background: #5BC0DE url("../images/main_bg.jpg");
            height: 350px;
            padding: 20px 0;
            @media (min-width: @screen-xs-max) {
                height: 75vh;
                padding: 100px 0;

                .swiper-teacher {
                    height: 50vh;
                }
            }

            .item {
                min-height: 280px;
                margin-bottom: 30px;
                padding: 20px 10px 0;

                .teacher_intro {
                    min-height: 150px;

                    p {
                        margin-bottom: 10px;
                        color: #fff;
                    }
                }

                img {
                    width: 70px;
                    height: 70px;
                    vertical-align: middle;
                    float: left;
                }

                .teacher_n {
                    padding-top: 20px;
                    height: 70px;
                    color: #E3E3E2;
                }
            }
        }
    }

    .forget-password {
        float: left;
        margin-top: 12px;

        a {
            text-decoration: none;
        }
    }
}

#exam_new {
    .nav_exam {
        margin-top: 60px;
        min-height: 40px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            line-height: 40px;

            li {
                padding: 0;
                margin: 0;
                list-style: none;
                float: left;

                a {
                    text-decoration: none;

                    &:hover {
                        color: orange;
                    }
                }
            }
        }
    }

    .item {
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
        @media (min-width: @screen-sm-min) {
            p {
                margin-bottom: 20px;
            }

            .picture {
                float: right;
            }
        }

        button {
            text-align: left;
            display: block;
            max-width: 100%;
            margin-top: 10px;
            white-space: normal;
        }
    }

    #page {
        margin-top: 30px;
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            color: #333;
            float: left;
            display: block;
            width: 40px;
            height: 40px;
            margin: 5px;
            border-radius: 40px;
            line-height: 40px;
            border: 1px solid #000;
            text-align: center;
            text-decoration: none;
        }

        .current {
            color: #fff;
            background-color: #333;
            border: 1px solid #333;
        }

        .checked {
            color: #fff;
            background-color: green;
            border: 1px solid green;
        }
    }

    .container_chose {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff url("../images/bg-index-body.jpg") 80%;
    }

    #chose {
        padding: 5px 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            background-color: transparent;
            outline: none;
            border: none;
        }

        .submit {
            color: green;
        }
    }
    @media (min-width: @screen-sm-min) {
        .content_exam {
            position: relative;
            margin-top: 90px;
            min-height: 60vh;

            .nav_exam {
                margin-top: 15px;
            }

            #content {
                .opt {
                    img {
                        max-width: 100%;
                        margin: 0 auto;
                    }

                    .opt_detail {
                        float: left;
                    }
                }
            }
        }

        .container_chose {
            position: inherit;
            margin-bottom: 60px;
        }

        #page {
            margin-top: 60px;
        }
    }
}

#teachers {
    margin-top: 50px;
    color: white;
    background-color: white;
    @media (min-width: @screen-xs-min) {
        margin-top: 90px;
    }

    #teacher_desc {
        background: @gray-lighter url(../images/teachers_hero.jpg) no-repeat top center;

        .title {
            margin: 100px 0;
            text-align: center;
            letter-spacing: 20px;
        }

        .teacher-nav {
            height: 40px;
            margin: 10px 0;

            li {
                float: left;
                list-style: none;
                color: black;
                cursor: pointer;
                margin-right: 10px;
                font-size: 14px;
            }
        }

        .teacher_item {
            color: @gray;
            background-color: white;
            text-align: center;
            .border-radius(10px);
            margin-bottom: 20px;
            .thumbnail {
                border: 0;
            }
            .teacher_name {
                font-size: 16px;
            }
        }
    }
}

#notebook {
    margin-top: 90px;
    background: black url("../images/desk.jpg") no-repeat top center;
    color: white;

    .title {
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    h5 {
        font-size: 20px;
        // border-bottom: 2px solid @brand-danger;
        padding-bottom: 10px;
        letter-spacing: 4px;
    }

    .curve_content {
        background-color: @brand-primary;
        .border-radius(20px);
        padding: 10px;
        .opacity(.8);
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 3px;
        // margin-top: 20px;
        // background-color: @brand-primary;
    }

    .correct_book {
        background-color: @brand-warning;
        .border-radius(20px);
        padding: 20px;
        .opacity (.8);
        text-align: center;

        .sub_title {
            margin: 20px 0;
        }

        h5 {
            font-size: 40px;
        }

        .glyphicon {
            margin: 30px;
            font-size: 120px;

            &:hover {
                .rotateY(360);
                .transition(0.8s);
            }
        }

        p {
            font-size: 24px;
            margin: 20px 0;
        }
    }
}

#chartcontainer {
    width: 100%;
    height: 300px;
    .opacity(.8);
    margin-bottom: 20px;
    // padding: 20px 0;
}

#about {
    margin-top: 50px;
    @media (min-width: @screen-sm-min) {
        margin-top: 90px;
    }

    .container {
        padding: 0;
    }

    .parallax-window {
        min-height: 350px;
        background: transparent;
    }

    .caption {
        width: 100%;
        position: absolute;
        top: 100px;
        padding-left: 15px;
        @media (min-width: @screen-sm-min) {
            top: 200px;
        }
    }

    .title {
        margin: 10px auto;
        color: @gray-light;

        h3 {
            letter-spacing: 10px;
            margin-bottom: 20px;
        }

        p {
            letter-spacing: 5px;
            font-size: 24px;
            color: lighten(@gray, 20%);
        }
    }

    .box-whatwedo {
        background-color: @brand-primary;
        padding: 30px 50px 60px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: white;
        text-align: center;

        h2 {
            letter-spacing: 10px;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 1px;
        }

        p {
            line-height: 24px;
        }
    }

    .box-workteam {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        // min-height: 400px;
        .row {
            margin: 0;
            text-align: center;
        }

        h2 {
            letter-spacing: 10px;
        }

        h3 {
            font-size: 20px;
            padding-left: 20px;
            margin-top: 0;
            letter-spacing: 5px;
            color: @brand-info;
        }

        p {
            padding: 0 20px;
            color: @gray;
            line-height: 24px;
        }

        .team_list_cv {
            color: lighten(@gray, 20%);
        }
    }

    .box-contact {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: @brand-info;
        color: white;
        // p {
        //  color: lighten(@gray, 20%);
        // }
        // p.marker {
        //  color: @brand-warning;
        // }
        .addressphone {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .openinghousrs {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
}

#interaction {
    margin-top: 90px;
    // margin-bottom: 20px;
    // background: white url(../images/desk.jpg) no-repeat top center;
    color: @gray;
    background: @gray-lighter;

    .title {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .thumbnail {
        .border-radius(0);
        background-color: #f0f0f0;
        padding: 0;
        border: 0;
        .box-shadow(5px, 5px, 5px, 2px, rgba(0, 0, 0, 0.5));

        &:hover {
            .transition(0.4s);
            .box-shadow(5px, 10px, 10px, 10px, rgba(0, 0, 0, 0.5));
        }
    }

    .item_show {
        margin-bottom: 50px;
    }
}

#savetime {
    margin-top: 90px;
    // margin-bottom: 20px;
    background: black url("../images/desk.jpg") no-repeat top center;
    color: white;

    .title {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .item_show {
        margin-bottom: 60px;
    }

    .item {
        width: 100%;
        height: 200px;
        background-color: transparent;
        cursor: pointer;
        .perspective (1000);
        margin-bottom: 20px;

        &:hover {
            .front {
                .rotateY(180);
                .transition(0.8s);
            }

            .back {
                .rotateY(0);
                .transition(0.8s);
            }
        }

        .back,
        .front {
            width: 100%;
            height: 200px;
            background-color: @brand-primary;
            .opacity(.8);
            .backface-visibility(hidden);
            text-align: center;
        }

        .front {
            .rotateY(0);
            .transition(0.8s);
            font-size: 30px;
            padding: 20px;
            // line-height: 50px;
            .glyphicon {
                font-size: 60px;
            }
        }

        .back {
            position: absolute;
            bottom: 0;
            .rotateY(180);
            .transition(0.8s);
            font-size: 20px;
            padding: 20px;
        }
    }

    .item_2 {
        .back,
        .front {
            background-color: @brand-info;
        }
    }

    .item_3 {
        .back,
        .front {
            background-color: @brand-warning;
        }
    }

    .item_4 {
        .back,
        .front {
            background-color: @brand-danger;
        }
    }
}

#course {
    background-color: @gray-lighter;
    min-height: 80vh;
    margin-top: 90px;
    @media (max-width: @screen-xs-max) {
        * {
            margin: 0;
            padding: 0;

            .key > div {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .container {
            padding: 0;
        }
        margin-top: 50px;
    }

    .query_zone {
        margin-top: 20px;
        // font-size: 12px;
        label {
            text-align: left;
        }

        .result-indicator {
            color: @gray-light;
            text-align: right;

            .result-sum {
                color: @brand-info;
            }

            .current-page {
                color: @brand-danger;
            }
        }

        .well {
            margin-top: 10px;
            margin-bottom: 0;
        }

        .btn-info {
            width: 85%;
        }

        .btn {
            margin-bottom: 10px;
            @media (max-width: @screen-xs-max) {
                margin: 5px auto;
                padding: 5px;
            }
        }
    }

    .course_list {
        background-color: @gray-lighter;
        margin: 10px 0;
        font-size: 14px;

        .classitem {
            margin-bottom: 10px;
            color: @gray;
            background-color: white;
            padding: 5px;

            .course_title {
                padding: 5px 15px 0;
                text-align: center;
                margin-top: 10px;
                @media (max-width: @screen-xs-max) {
                    padding: 5px 0 0;
                }

                h5 {
                    padding: 5px;
                    margin: 0;
                }
            }

            .detail {
                h4 {
                    text-align: center;
                    color: #1CA21C;
                    font-size: 16px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                p {
                    padding-left: 15px;
                    margin: 5px 0 0;
                }
            }

            .course_sign {
                padding-top: 10px;

                .badge {
                    display: block;
                    font-size: 20px;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    float: left;
                    padding-top: 10px;
                    background-color: @brand-warning;
                    text-align: center;
                    margin: 0 25px;
                    white-space: pre-wrap;

                    span {
                        margin-top: 10px;
                    }
                }

                .btn {
                    margin-top: 5px;
                    margin-left: 10%;
                    width: 120px;
                    height: 50px;
                }
            }

            .course_img {
                margin-top: 5px;
            }
            @media(min-width: @screen-xs-max) {
                padding: 10px;

                .detail {
                    h4 {
                        text-align: center;
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }

                    p {
                        padding-left: 0;
                        margin: 10px 0;
                    }
                }

                h5 {
                    margin: 0 15px;
                }

                .course_img {
                    img {
                        min-width: 100%;
                    }
                }

                .course_sign {
                    .badge {
                        margin: 10px;
                    }

                    .btn {
                        width: 80px;
                        margin-left: 0;
                    }
                }

                .thumbnail {
                    margin-bottom: 0;
                }
            }
        }
    }

    .teachers {
        ul {
            list-style: none;
            padding: 0;
        }

        h4 {
            color: @brand-primary;
            font-size: 16px;
        }
    }
}

#portrait {
    background-color: @gray-lighter;
    margin-top: 100px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    #fileupload {
        width: 100%;
        margin-bottom: 10px;
    }

    .divider {
        border-bottom: 2px solid @gray;
    }

    .portrait {
        background-color: white;
        margin: 20px;
        padding: 20px;
        // width: 100%;
        h4 {
            color: @gray;
        }
        // form {
        //  margin-top: 20px;
        // }
    }

    .upload_img {
        margin-bottom: 20px;

        img {
            width: 100%;
            max-width: 400px;
        }
    }

    .browser {
        h5 {
            color: @gray;
        }

        p {
            color: @gray;
        }
    }
}

#pay {
    background-color: @gray-lighter;
    margin-top: 100px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    .order_info {
        margin: 10px;
        line-height: 20px;

        .sum {
            color: @brand-danger;
            font-size: 24px;
        }

        .order_name {
            margin-left: 45px;
            font-size: 16px;
        }

        .order_price {
            margin-left: 10px;
        }

        .order_detail {
            color: @gray-light;
            margin: 0 20px 20px;
            background-color: white;
            .border-radius(20);
            padding-top: 10px;
        }
    }

    .order_notice {
        margin-left: 20px;
    }

    .choose_method {
        text-align: center;
        margin: 10px;

        .icon {
            background-color: white;
            margin: 10px;
            .border-radius(20);
            min-height: 200px;
            padding: 50px 0;
        }

        .title {
            margin: 20px 0 30px;
        }
    }

    .wxpay_detial {
        background-color: white;
        border-top: 4px solid @brand-info;
        margin: 10px 10px 40px;

        .head {
            margin: 10px 0 10px 20px;
        }

        .qrcode {
            margin: 50px;
            text-align: center;

            img {
                border: 1px solid @gray-lighter;
            }
        }

        .qrcode_desc {
            background-color: @brand-info;
            text-align: center;
            color: white;
            margin: 0 100px;
            padding: 10px 0;
        }

        .return {
            margin: 10px 10px 20px 20px;
            font-size: 16px;
            color: @brand-info;

            a {
                text-decoration: none;
            }
        }
    }
}

#pay_private {
    background-color: @gray-lighter;
    margin-top: 20px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    .order_info {
        margin: 10px;
        line-height: 20px;

        .sum {
            color: @brand-danger;
            font-size: 24px;
        }

        .order_name {
            margin-left: 20px;
            // margin: 20px;
            // line-height: 24px;
            font-size: 16px;
        }

        .order_price {
            margin-left: 10px;
        }

        .order_detail {
            color: @gray-light;
            margin: 20px;
        }
    }

    .order_notice {
        margin-left: 20px;
    }

    .choose_method {
        text-align: center;
        margin: 10px;

        .icon {
            background-color: white;
            margin: 10px;
            .border-radius(20);
            min-height: 200px;
            padding: 50px 0;
        }

        .title {
            margin: 20px 0 30px;
        }
    }

    .wxpay_detial {
        background-color: white;
        border-top: 4px solid @brand-info;
        margin: 10px 10px 40px;

        .head {
            margin: 10px 0 10px 20px;
        }

        .qrcode {
            margin: 50px;
            text-align: center;

            img {
                border: 1px solid @gray-lighter;
            }
        }

        .qrcode_desc {
            background-color: @brand-info;
            text-align: center;
            color: white;
            margin: 0 100px;
            padding: 10px 0;
        }

        .return {
            margin: 10px 10px 20px 20px;
            font-size: 16px;
            color: @brand-info;

            a {
                text-decoration: none;
            }
        }
    }
}

#userinfo {
    background-color: @gray-lighter;
    margin-top: 100px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    .divider {
        border-bottom: 2px solid @gray;
    }

    .userinfo {
        background-color: white;
        margin: 20px;
        padding: 20px;
        // width: 100%;
        form {
            margin-top: 20px;
        }
    }
}

#exam-result {
    background-color: white;
    margin-top: 90px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    .result-area {
        margin: 30px;
        @media (max-width: @screen-xs-max) {
            margin: 30px 0;
        }
        color: @gray-light;

        .title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .result-display {
            .border-radius(20px);
            border: 2px solid @gray-lighter;
            padding: 0;

            .subject {
                background-color: #fff4c0;
                .border-radius(20px, 20px, 0, 0);
                border-bottom: 2px solid @gray-lighter;
                text-align: center;

                label {
                    padding: 15px 0 0;
                    letter-spacing: 5px;
                    // color: @gray-dark;
                }
            }

            fieldset {
                padding: 20px;
                // background-color: @gray-lighter;
            }
        }
    }
}

#exam-search {
    background-color: white;
    margin-top: 90px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    .search-area {
        margin: 30px;
        @media (max-width: @screen-xs-max) {
            margin: 30px 0;
        }
        color: @gray-light;

        .title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .search_form {
            .border-radius(20px);
            border: 2px solid @gray-lighter;
            padding: 0;

            .subject {
                background-color: #fff4c0;
                .border-radius(20px, 20px, 0, 0);
                border-bottom: 2px solid @gray-lighter;
                text-align: center;

                label {
                    padding: 15px 0 0;
                    letter-spacing: 5px;
                    font-style: @font-family-fangtian;
                    // color: @gray-dark;
                }
            }

            fieldset {
                padding: 20px;
                // background-color: @gray-lighter;
            }
        }
    }
}

#login {
    background-color: white;
    margin-top: 90px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    .login-area {
        margin: 30px;
        @media (max-width: @screen-xs-max) {
            margin: 30px 0;
        }
        color: @gray-light;

        .title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .login_form {
            // background-color: @brand-warning;
            .border-radius(20px);
            border: 2px solid @gray-lighter;
            padding: 0;

            .subject {
                background-color: #fff4c0;
                .border-radius(20px, 20px, 0, 0);
                border-bottom: 2px solid @gray-lighter;
                text-align: center;

                label {
                    padding: 15px 0 0;
                    letter-spacing: 5px;
                    font-style: @font-family-fangtian;
                    // color: @gray-dark;
                }
            }

            fieldset {
                padding: 20px;
                // background-color: @gray-lighter;
            }
        }
    }

    .imin {
        float: right;
        margin-top: 5px;

        a {
            text-decoration: none;
            color: @brand-info;
        }
    }

    .forget-password {
        float: right;
        font-size: 13px;

        a {
            text-decoration: none;
            color: @brand-info;
        }
    }

    .cover {
        margin-top: 10px;
    }
}

#forget-password {
    background-color: white;
    margin-top: 90px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
    }

    .login-area {
        margin: 30px;
        @media (max-width: @screen-xs-max) {
            margin: 30px 0;
        }
        color: @gray-light;

        .title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .login_form {
            // background-color: @brand-warning;
            .border-radius(20px);
            border: 2px solid @gray-lighter;
            padding: 0;

            .subject {
                background-color: #fff4c0;
                .border-radius(20px, 20px, 0, 0);
                border-bottom: 2px solid @gray-lighter;
                text-align: center;

                label {
                    padding: 15px 0 0;
                    letter-spacing: 5px;
                    font-style: @font-family-fangtian;
                    // color: @gray-dark;
                }
            }

            fieldset {
                padding: 20px;
                // background-color: @gray-lighter;
            }
        }
    }

    .cover {
        margin-top: 100px;
    }
}

#register {
    background-color: white;
    margin-top: 50px;
    @media (min-width: @screen-xs-min) {
        margin-top: 90px;
    }

    .login-area {
        margin: 30px 0;
        @media (min-width: @screen-xs-min) {
            margin: 30px;
        }
        color: @gray-light;

        .title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .login_form {
            // background-color: @brand-warning;
            .border-radius(20px);
            border: 2px solid @gray-lighter;
            padding: 0;

            .subject {
                background-color: #fff4c0;
                .border-radius(20px, 20px, 0, 0);
                border-bottom: 2px solid @gray-lighter;
                text-align: center;

                label {
                    padding: 15px 0 0;
                    letter-spacing: 5px;
                    font-style: @font-family-fangtian;
                    // color: @gray-dark;
                }
            }

            fieldset {
                padding: 20px;
                // background-color: @gray-lighter;
            }
        }
    }

    .imin {
        float: right;
        margin-top: 5px;

        a {
            text-decoration: none;
            color: @brand-info;
        }
    }

    .cover {
        margin-top: 100px;
    }
}

#complement {
    background-color: @gray-lighter;
    margin-top: 50px;
    @media (min-width: @screen-xs-min) {
        margin-top: 100px;
    }

    .divider {
        border-bottom: 2px solid @gray;
    }

    .complement {
        background-color: white;
        margin: 20px;
        padding: 20px;
        // width: 100%;
        form {
            margin-top: 20px;
        }
    }
}

#exam {
    background-color: @gray-lighter;

    .bookmark {
        font-size: 30px;
        margin-left: 6px;

        a {
            color: @brand-info;
        }
    }

    button {
        outline: none;
    }

    .marked {
        font-size: 30px;
        margin-left: 6px;

        a {
            color: @gray-lighter;
        }
    }
}

#exam_content {
    background-color: @gray-lighter;
    margin-top: 50px;
    padding: 20px 0;
    @media (min-width: @screen-xs-min) {
        margin-top: 90px;
        padding: 20px;
    }

    .key-subject {
        padding-left: 10px;
    }

    .marker {
        p {
            margin: 10px;
            letter-spacing: 1px;
        }
    }

    .well {
        margin: 10px;

        span {
            margin-bottom: 10px;
        }
    }

    .exam_object {
        background-color: white;
        // min-height: 230px;
        margin: 10px;
        padding: 10px 0;

        .exam_option {
            margin-bottom: 5px;
        }
    }

    .done_logo {
        float: right;
        position: relative;
        top: -200px;
        right: 100px;
    }

    .exam_area {
        .affix {
            @media (max-width: @screen-sm-max) {
                position: static;
                width: auto;
                top: 0;
            }
        }
    }

    .badge {
        font-size: 20px;
        margin: 5px 10px;
        border-radius: 5px;
        min-height: 20px;
        min-width: 20px;
        background-color: @brand-warning;
    }
}

#mycourse {
    // background-color: @gray-lighter;
    margin-top: 100px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;

        .container {
            padding: 0;
        }

        .course_img {
            img {
                width: 100%;
            }
        }
    }

    .nav_exam {
        margin-top: 15px;
    }

    .divider {
        border-bottom: 2px solid @gray;
    }

    .myscore {
        margin: 0;
        color: @gray;

        h4 {
            color: @gray-light;
            z-index: -1;
        }

        h5 {
            color: @brand-info;
        }

        .badge {
            margin-top: 40px;
            @media (max-width: @screen-sm-max) {
                margin-top: 0;
                margin-bottom: 20px;
                padding-top: 10px;
                border-radius: 80px;
                min-height: 80px;
                min-width: 80px;
            }
            font-size: 16px;
            // margin: 5px 10px;
            border-radius: 30px;
            min-height: 60px;
            min-width: 30px;
            background-color: @brand-warning;
        }

        .score_style {
            color: @brand-warning;
        }
    }

    .user_course {
        margin: 30px;
        color: @gray;

        .course_list {
            background-color: @gray-lighter;
            padding: 20px 0;
            margin-bottom: 10px;
        }

        h4 {
            color: @gray-light;
        }

        h5 {
            padding: 5px 0;
            margin-bottom: 0;
        }

        .course_title {
            padding: 5px 5px 0;
            text-align: center;
            @media (max-width: @screen-xs-max) {
                margin-bottom: 20px;
            }
        }

        .button_list {
            padding-top: 10px;
            text-align: center;
            color: @brand-primary;
        }

        .note_exercise {
            .badge {
                font-size: 16px;
                margin: 10px;
                padding: 10px;
                border-radius: 40px;
                min-height: 40px;
                min-width: 60px;
                height: 68px;
                background-color: @brand-warning;
            }
        }
        //debug a 2016-02-24
        a {
            color: @gray;
            text-decoration: none;
        }

        .exam_object {
            background-color: white;
            // min-height: 230px;
            margin: 10px;
            padding: 10px 0;

            .exam_option {
                margin-bottom: 5px;
            }
        }

        .done_logo {
            float: right;
            position: relative;
            top: -200px;
            right: 100px;
        }

        .exam_area {
            .affix {
                @media (max-width: @screen-sm-max) {
                    position: static;
                    width: auto;
                    top: 0;
                }
            }
        }

        .badge {
            font-size: 20px;
            margin: 5px 10px;
            border-radius: 5px;
            min-height: 20px;
            min-width: 20px;
            background-color: @brand-warning;
        }

        .chapter {
            .show_chapter {
                text-align: right;
                margin: 20px 20px 0 0;
                color: @brand-warning;
                cursor: pointer;
                letter-spacing: 2px;
            }
        }
    }
}

#mycourse_new {
    background-color: #fff;
    margin-top: 50px;
    @media (min-width: @screen-sm-min) {
        margin-top: 90px;
    }

    .breadcrumb {
        margin: 15px 0;
    }

    .menu {
        min-height: 100%;
        // background-color: #F5F5F5;
        .user_photo {
            padding-top: 20px;
            max-width: 100px;
            margin: 0 auto;
        }

        .user_info {
            text-align: center;
        }

        ul {
            li {
                font-size: 14px;
                line-height: 1;
                padding-left: 15px;
                margin: 15px 0;
            }
        }
    }

    .score {
        padding: 0;
    }

    .course_content {
        min-height: 100%;
        margin: 0;
        color: @gray;

        h4 {
            padding-top: 80px;
            color: @gray-light;
            z-index: -1;
            @media (min-width: @screen-sm-min) {
                padding-top: 0;
            }
        }

        h5 {
            color: @brand-info;
        }

        a {
            display: block;

            &:hover {
                text-decoration: none;

                .badge {
                    background-color: #eee;
                    color: #333;
                }
            }
        }

        .badge {
            display: block;
            margin: 0 auto;
            font-size: 16px;
            border-radius: 65px;
            height: 65px;
            width: 65px;
            background-color: @brand-warning;
            @media (min-width: @screen-sm-min) {
                margin-top: 30px;
                margin-bottom: 20px;
                padding-top: 10px;
                border-radius: 80px;
                min-height: 80px;
                min-width: 80px;
            }
        }

        .score_style {
            color: @brand-warning;
        }
    }

    .nopay {
        .classitem {
            .content {
                margin-left: 0;
                margin-right: 0;
            }
            margin-bottom: 10px;
            color: @gray;
            padding: 0;

            .course_left {
                padding: 0;

                .course_img {
                    margin-top: 5px;
                    padding: 0;

                    a {
                        max-width: 120px;
                        margin: 10px auto;
                    }
                    @media (min-width: @screen-sm-min) {
                        margin-top: 0;
                    }
                }

                .course_title {
                    padding: 0;
                    text-align: center;
                    margin: 15px 0;

                    h5 {
                        padding: 5px;
                        margin: 0 auto;
                        max-width: 120px;
                    }
                    @media (min-width: @screen-sm-min) {
                        margin: 5px 0;
                    }
                }
            }

            .detail {
                h4 {
                    text-align: center;
                    color: #1CA21C;
                    font-size: 16px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                p {
                    padding-left: 15px;
                    margin: 2px 0 0;
                }
                @media (min-width: @screen-sm-min) {
                    p {
                        margin: 15px 0;
                    }
                }
            }

            .topay {
                margin-top: 5px;
                text-align: center;

                span {
                    padding: 0;
                    margin-top: 5px;
                    font-size: 12px;
                    text-align: center;
                }
                @media (min-width: @screen-sm-min) {
                    height: 200px;
                    display: flex;
                    align-items: center;

                    span {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

#detail {
    color: @gray;
    // background-color: @gray-lighter;
    margin-top: 90px;
    padding: 20px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
        padding: 20px 0;

        .container {
            padding: 10px;
        }

        .course_title {
            h3 {
                margin-top: 0;
            }
        }

        .course_info_area {
            margin-top: 8px;
            margin-left: -20px;
            margin-right: -20px;
        }

        .course_img {
            img {
                max-width: 100%;
            }
        }

        .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        .choose_time .table > tbody > tr > td {
            white-space: nowrap;
        }

        .table > tbody > tr > th {
            width: 30px;
        }
    }

    .affix {
        @media (max-width: @screen-sm-max) {
            position: static;
            width: auto;
            top: 0;
        }
    }

    .course_title {
        h5 {
            color: @brand-primary;
        }
    }

    .course_info_area {
        background-color: @gray-lighter;

        .price_real {
            color: @brand-danger;
        }

        .cash_back {
            color: @brand-primary;
            font-size: 16px;
            @media (max-width: @screen-sm-max) {
                line-height: 24px;
            }
        }
    }

    .online_pub {
        list-style-type: none;
        margin-top: 15px;
        color: @brand-primary;
    }

    .marked {
        color: @brand-warning;
    }

    .unmarked {
        color: @gray-light;
    }

    .hot {
        background-color: @gray-lighter;
        cursor: pointer;
        text-align: center;
        color: @brand-danger;
    }

    .complet {
        // color: @gray-lighter;
        color: @brand-warning;
        text-align: center;
        padding: 6px;
    }

    .available {
        border: 3px solid @brand-danger;
        color: @brand-danger;
        background-color: @gray-lighter;
        cursor: pointer;
        text-align: center;
    }

    .badge {
        font-size: 20px;
        margin: 30px 0 10px -20px;
        padding: 20px 0;
        border-radius: 50px;
        min-height: 80px;
        min-width: 80px;
        background-color: @brand-warning;
    }

    h4 {
        color: @gray;
        border-bottom: 2px solid @gray;
    }

    #btn_join_price {
        font-size: 18px;
    }

    .teacher_info {
        font-family: @font-family-fangtian;
        margin-bottom: 20px;

        .teacher_special {
            color: @brand-warning;
        }

        .teacher_special1 {
            color: @brand-info;
        }

        h4 {
            border-bottom: none;
            font-family: @font-family-fangtian;
            font-weight: bold;
            letter-spacing: 0.1em;
        }

        h5 {
            letter-spacing: 0.05em;
            line-height: 20px;
        }
    }

    .slider_menu {
        .row {
            margin-bottom: 20px;
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: @gray-light;

                    &:hover {
                        border-bottom: 2px solid @brand-danger;
                    }
                }
            }
        }

        .try_lesson {
            padding-left: 30px;
        }

        .buy_lesson {
            padding-left: 30px;
            @media (max-width: @screen-sm-max) {
                padding: 5px;
                position: fixed;
                bottom: 0;
                width: 100%;
                right: 0;

                .btn {
                    width: 100%;
                    .border-radius(0);
                    .opacity(.9);
                }
            }
        }
    }

    .choose_teacher {
        h5 {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .progress {
        margin-top: 8px;
    }

    .student_commends {
        h6 {
            color: @brand-info;
        }
    }
}

#replayadmin {
    color: @gray;
    background-color: @gray-lighter;
    margin-top: 90px;
    // padding: 20px;
    @media (max-width: @screen-xs-max) {
        margin-top: 50px;
        padding: 20px 0;
    }

    .query-date {
        margin: 20px 30px;
    }

    #progress {
        padding-left: 0;
        padding-right: 0;
    }

    #browserPlayer,
    #montageMsgZone {
        margin-left: 15px;
    }

    #browserForm {
        option {
            // text-align: center;
        }

        div {
            margin-bottom: 20px;
        }
    }

    #player {
        margin: 20px;
    }

    #mongtageForm {
        margin-bottom: 20px;
    }

    .browserfield {
        // margin: 20px 0;
        // background-color: white;
    }
}

.footer {
    color: black;
    height: 20vh;
    padding: 10px 20px;
    background: #e1e1e1;
    @media (min-width: @screen-xs-max) {
        height: 17vh;
    }

    .logo {
        text-align: center;
        margin-top: 15px;

        span {
            margin-top: 20px;
        }
    }

    p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 24px;
    }
}

#back-top {
    display: none;

    a {
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 44px;
        background-color: #434345;
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font: 12px/100% Arial, Helvetica, sans-serif;
        transition: 0.5s;
    }

    span {
        line-height: 42px;
        padding-left: 2px;
        font-size: 12px;
        transition: 1s;
    }
}

#back-top-wrapper {
    position: fixed;
    right: 5%;
    bottom: 10px;
    overflow: hidden;
    z-index: 99;
}

.view-animate {
    opacity: 0;
}

.view-animate.active {
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fadeIn.active {
    animation-name: fadeIn;
}

.fadeInLeft.active {
    animation-name: fadeInLeft;
}

.fadeInRight.active {
    animation-name: fadeInRight;
}

.fadeInUp.active {
    animation-name: fadeInUp;
}

.fadeInRotate.active {
    animation-name: fadeInRotate;
}

.fadeInDown.active {
    animation-name: fadeInRotate;
}

.zoomIn.active {
    animation-name: zoomIn;
}

.flip.active {
    backface-visibility: visible;
    animation-name: flip;
}
/*some keyframes*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    50% {
        opacity: 1;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    70% {
        opacity: 1;
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeInRotate {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: translateX(-150px) rotate(-360deg);
    }

    100% {
        opacity: 1;
        transform-origin: center center;
        transform: translateX(0px) rotate(0deg);
    }
}
@keyframes flip {
    0% {
        opacity: 1;
        transform: perspective(800px)rotateY(0) scale(1);
        animation-timing-function: ease-out;
    }

    50% {
        opacity: 1;
        transform: perspective(800px) rotateY(180deg) scale(1);
        animation-timing-function: ease-in;
    }

    100% {
        opacity: 1;
        transform: perspective(800px) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
}
/*animation-delay*/
.delay-02 {
    animation-delay: 0.2s;
}

.delay-04 {
    animation-delay: 0.4s;
}

.delay-06 {
    animation-delay: 0.6s;
}

.delay-08 {
    animation-delay: 0.8s;
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 2s;
}
