body {
  background: #fff;
  letter-spacing: 1px;
  font-size: 14px;
}
body .menu a {
  text-decoration: none;
  color: #5bc0de;
}
body .menu a.selected {
  color: #f0ad4e;
  border-bottom: 2px solid #f0ad4e;
}
body .menu a:hover {
  color: #f0ad4e;
}
body .menu .user_level {
  color: #f0ad4e;
}
body .menu .badge {
  background-color: #f0ad4e;
}
body .more-info {
  height: 50px;
}
body .more-info a {
  display: block;
  width: 170px;
  height: 50px;
  line-height: 48px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 25px;
  border: 2px solid #3EB2CF;
  font-size: 18px;
  letter-spacing: 4px;
  font-family: 微软雅黑;
  text-decoration: none;
  color: #3EB2CF;
}
body .more-info a span {
  font-size: 14px;
}
body .more-info a:hover {
  color: white;
  background-color: #3EB2CF;
}
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus {
  color: #d9534f;
  border-bottom: 2px solid #d9534f;
}
header a:focus {
  outline: none;
}
header .nav li > a {
  padding: 38px 0px 35px;
  margin: 0px 15px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #27272b;
}
header .nav li > a.selected {
  color: #d9534f;
  border-bottom: 2px solid #d9534f;
}
@media (max-width: 767px) {
  header .nav li > a {
    padding: 15px;
  }
}
header .navbar {
  background: white;
  margin-bottom: 0px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  border-bottom: 1px solid #f0f0f0;
}
header .navbar .container .navbar-brand {
  background-image: url(../images/logo_b.png), none;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 42px;
  width: 150px;
  padding: 0;
  text-indent: -9999px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 50px;
}
@media (max-width: 767px) {
  header .navbar .container .navbar-brand {
    margin-top: 5px;
    margin-left: 15px;
  }
}
header .dropdown ul li a {
  padding: 3px 20px;
  margin: 10px 0;
}
header #dropdown-wx-menu .wxqr {
  border: none;
  margin-bottom: 0;
}
header #dropdown-wx-menu .wx_desc {
  text-align: center;
  color: #d9534f;
}
#home .navbar {
  color: black;
  margin-bottom: 0px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  border: none;
  background: white;
}
#home .navbar a {
  color: black;
}
@media (min-width: 768px) {
  #home .navbar {
    background: rgba(255, 255, 255, 0);
  }
}
#home #homecontainer .video {
  display: none;
}
@media (min-width: 768px) {
  #home #homecontainer .video {
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  #home #homecontainer .video .bg {
    background: url(../images/desk.jpg);
    min-width: 100%;
    min-height: 100%;
  }
}
#home #homecontainer .banner {
  margin-top: 50px;
  width: 100%;
  height: 200px;
}
#home #homecontainer .banner .swiper-banner {
  width: 100%;
  height: 100%;
}
#home #homecontainer .banner .swiper-banner .swiper-wrapper {
  text-align: center;
}
#home #homecontainer .banner .swiper-banner .swiper-wrapper a {
  display: inline-block;
  margin-top: 50px;
}
#home #homecontainer .news {
  height: 30px;
  overflow: hidden;
}
#home #homecontainer .news .swiper-news {
  width: 100%;
  height: 30px;
}
#home #homecontainer .news .swiper-news .swiper-wrapper li {
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
}
#home #homecontainer .news .swiper-news .swiper-wrapper li a {
  text-decoration: none;
}
#home #homecontainer .intro {
  padding: 20px 0 0;
  text-align: center;
  background-image: url(../images/bg-index-body.jpg);
  background-repeat: repeat;
}
#home #homecontainer .intro .intro_img {
  padding: 30px 0px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#home #homecontainer .intro .intro_img .glyphicon {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  font-size: 50px;
  color: white;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
#home #homecontainer .intro .intro_img .glyphicon:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#home #homecontainer .intro .intro_img img {
  max-width: 100%;
  height: auto;
}
#home #homecontainer .intro .title {
  padding: 0 10px;
}
#home #homecontainer .intro .title h2 {
  color: #fec20b;
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 44px;
  font-family: KaiTi;
}
#home #homecontainer .intro .title h2 .first-word {
  color: #3eb2cf;
}
#home #homecontainer .intro .title .intro_detail {
  text-align: center;
  margin-top: 35px;
  color: #888888;
}
#home #homecontainer .intro .more-info {
  margin: 40px 0;
  height: 50px;
}
@media (min-width: 768px) {
  #home #homecontainer .intro .more-info a {
    margin: 0;
  }
}
@media (min-width: 768px) {
  #home #homecontainer .intro {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #home #homecontainer .intro .title {
    padding: 20px 10px;
  }
  #home #homecontainer .intro .title .intro_detail {
    text-align: left;
  }
}
@media (min-width: 992px) {
  #home #homecontainer .intro {
    padding-top: 114px;
    padding-bottom: 114px;
  }
}
#home #homecontainer .our {
  text-align: center;
  background-image: url(../images/bg-index-body.jpg);
  background-repeat: repeat;
  overflow: hidden;
}
@media (min-width: 480px) {
  #home #homecontainer .our .container {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  #home #homecontainer .our .container {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
#home #homecontainer .our .container .range-content {
  position: relative;
}
#home #homecontainer .our .container .range-content .content_r {
  display: none;
}
@media (min-width: 768px) {
  #home #homecontainer .our .container .range-content .content_r {
    display: block !important;
    width: 46vw;
    background-image: url(../images/content_r.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
#home #homecontainer .our .container .range-content .content_l {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  #home #homecontainer .our .container .range-content .content_l {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 70px;
  }
}
#home #homecontainer .our .container .range-content .content_l h2 {
  color: #fec20b;
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 44px;
  font-family: KaiTi;
}
#home #homecontainer .our .container .range-content .content_l h2 .first-word {
  color: #3eb2cf;
}
#home #homecontainer .our .container .range-content .content_l .title {
  margin-top: 35px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57143;
  color: #888888;
}
@media (min-width: 992px) {
  #home #homecontainer .our .container .range-content .content_l .title {
    margin-top: 60px;
  }
}
#home #homecontainer .our .container .range-content .content_l .tile {
  text-align: center;
}
@media (min-width: 480px) {
  #home #homecontainer .our .container .range-content .content_l .tile {
    text-align: left;
  }
}
#home #homecontainer .our .container .range-content .content_l .tile .range {
  text-align: center;
}
#home #homecontainer .our .container .range-content .content_l .tile .range .stats {
  margin-top: 65px;
}
#home #homecontainer .our .container .range-content .content_l .tile .range .stats .stats_l {
  padding: 0;
}
#home #homecontainer .our .container .range-content .content_l .tile .range .stats .stats_l .glyphicon {
  color: #3eb2cf;
  font-size: 60px;
  line-height: 61px;
}
#home #homecontainer .our .container .range-content .content_l .tile .range .stats .stats_r {
  padding: 0;
  text-align: center;
}
#home #homecontainer .our .container .range-content .content_l .tile .range .stats .stats_r h3 {
  margin-top: 0;
  color: #fec20b;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#home #homecontainer .our .container .range-content .content_l .tile .range .stats .stats_r h6 {
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
}
@media (min-width: 768px) {
  #home #homecontainer .our .container .range-content .content_l .tile .range .stats .stats_r h6 {
    max-width: 140px;
  }
}
#home #homecontainer .our .container .range-content .content_l .tile .singup {
  text-align: center;
  margin-top: 60px;
}
#home #homecontainer .about {
  background: #3eb2cf;
  fill: #3eb2cf;
  text-align: center;
  padding: 20px 0;
}
#home #homecontainer .about h2 {
  color: white;
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 44px;
  font-family: KaiTi;
}
#home #homecontainer .about h2 .first-word {
  color: #3eb2cf;
}
#home #homecontainer .about .aim {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 16px;
}
#home #homecontainer .about .range {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 30px;
}
#home #homecontainer .about .range .item {
  margin-top: 20px;
}
#home #homecontainer .about .range .item .class-info {
  max-width: 370px;
  background: #fff;
  margin: 0 auto;
}
#home #homecontainer .about .range .item .class-info .class-detail {
  padding: 10px;
}
#home #homecontainer .about .range .item .class-info .class-detail time {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 1.57143;
  color: #888888;
}
#home #homecontainer .about .range .item .class-info .class-detail h4 a {
  color: #fec20b;
  font-family: "Times New Roman";
}
#home #homecontainer .about .range .item .class-info .class-detail .teacher_name p {
  font-family: Helvetica;
}
@media (min-width: 480px) {
  #home #homecontainer .about .range {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
#home #homecontainer .about .more-info {
  width: auto;
  margin-top: 40px;
}
#home #homecontainer .about .more-info a {
  padding: 0;
  color: #fec20b;
  background-color: #fff;
}
#home #homecontainer .about .more-info a:hover {
  color: #fff;
  background-color: #fec20b;
}
@media (min-width: 992px) {
  #home #homecontainer .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #home #homecontainer .about .aim {
    margin-top: 60px;
  }
  #home #homecontainer .about .more-info {
    margin-top: 60px;
  }
}
#home #homecontainer .teacher {
  background: #5BC0DE url(../images/main_bg.jpg);
}
#home #homecontainer .teacher .item {
  padding: 40px 10px;
}
#home #homecontainer .teacher .item .teacher_intro {
  min-height: 150px;
}
#home #homecontainer .teacher .item .teacher_intro p {
  margin-bottom: 10px;
  color: #fff;
}
#home #homecontainer .teacher .item img {
  width: 70px;
  height: 70px;
  vertical-align: middle;
  float: left;
}
#home #homecontainer .teacher .item .teacher_n {
  padding-top: 20px;
  height: 70px;
  color: #E3E3E2;
}
#home .forget-password {
  float: left;
  margin-top: 12px;
}
#home .forget-password a {
  text-decoration: none;
}
#swiper #swiper-fangtian .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#swiper #swiper-fangtian .swiper-slide a {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
}
#swiper #swiper-fangtian .swiper-slide a .cover {
  max-height: 200px;
}
#swiper #swiper-fangtian .swiper-slide a .cover img {
  max-width: 200px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
#swiper #swiper-fangtian .swiper-slide a .cover figure {
  color: white;
  position: relative;
  bottom: 130px;
  font-size: 50px;
  zoom: 1;
  filter: alpha(opacity=40);
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
#swiper #swiper-fangtian .swiper-slide a .desc {
  color: white;
}
#swiper #swiper-fangtian .swiper-slide a:hover {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#swiper #swiper-fangtian .swiper-slide a:hover img {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#swiper #swiper-fangtian .swiper-slide a:hover figure {
  color: black;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  zoom: 1;
  filter: alpha(opacity=40);
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
#swiper #swiper-fangtian .swiper-slide a:hover .desc {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #5bc0de;
}
#teachers {
  margin-top: 90px;
  color: white;
  background-color: white;
}
@media (max-width: 767px) {
  #teachers {
    margin-top: 50px;
  }
}
#teachers #teacher_from_bbs {
  background-color: #eeeeee;
  padding-top: 40px;
}
#teachers #teacher_profile {
  background: white url(../images/teachers_hero.jpg) no-repeat top center;
}
#teachers #teacher_profile .title {
  margin: 90px 0 60px;
  text-align: center;
  letter-spacing: 20px;
}
#teachers #teacher_profile .teacher_description {
  margin-top: 80px;
  background-color: white;
}
#teachers #teacher_profile .teacher_image {
  padding: 20px;
}
#teachers #teacher_profile .teacher_video {
  padding: 10px 20px 20px 20px;
  letter-spacing: 0.2em;
}
#teachers #teacher_profile .teacher_video .btn {
  line-height: 30px;
  font-size: 24px;
}
#teachers #teacher_profile .teacher_name {
  color: #555555;
}
#teachers #teacher_profile .teacher_name h1 {
  font-size: 48px;
  letter-spacing: 0.4em;
}
#teachers #teacher_profile .teacher_title {
  color: #9b9b9b;
  font-size: 18px;
  letter-spacing: 0.1em;
}
#teachers #teacher_profile .teacher_resume {
  color: #9b9b9b;
}
#teachers #teacher_profile .teacher_resume h2 {
  font-size: 24px;
  color: #555555;
  letter-spacing: 0.2em;
}
#teachers #teacher_profile .teacher_resume p {
  font-size: 18px;
  line-height: 30px;
}
#teachers #teacher_desc {
  background: #eeeeee url(../images/teachers_hero.jpg) no-repeat top center;
}
#teachers #teacher_desc .title {
  margin: 90px 0 60px;
  text-align: center;
  letter-spacing: 20px;
}
#teachers #teacher_desc .teacher_list {
  margin-top: 70px;
}
#teachers #teacher_desc .teacher_item {
  color: #555555;
  background-color: white;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  margin-bottom: 20px;
}
#teachers #teacher_desc .teacher_item .teacher_pic {
  text-align: center;
}
#teachers #teacher_desc .teacher_item .thumbnail {
  border: 0;
}
#teachers #teacher_desc .teacher_item .teacher_name {
  font-size: 16px;
}
#teachers #teacher_desc .teacher_item .teacher_cv {
  margin: 40px 0 20px;
}
#teachers #teacher_desc .teacher_item .teacher_cv .edu_bg {
  font-size: 16px;
  color: #3c3c3c;
}
#teachers #teacher_desc .teacher_item .teacher_cv .cv {
  font-size: 16px;
  color: #6f6f6f;
}
#teachers #teacher_desc .teacher_item .teacher_cv .special {
  font-size: 16px;
  color: #888888;
}
#teachers #teacher_desc .teacher_item .teacher_video {
  margin-bottom: 20px;
}
#teachers #teacher_desc .teacher_item .teacher_video .btn:focus {
  outline: none;
}
#notebook {
  margin-top: 90px;
  background: black url(../images/desk.jpg) no-repeat top center;
  color: white;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#notebook .title {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
#notebook h5 {
  font-size: 20px;
  padding-bottom: 10px;
  letter-spacing: 4px;
}
#notebook .curve_content {
  background-color: #337ab7;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  padding: 10px;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  margin-bottom: 20px;
}
#notebook p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 3px;
}
#notebook .correct_book {
  background-color: #f0ad4e;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  padding: 20px;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  text-align: center;
}
#notebook .correct_book .sub_title {
  margin: 20px 0;
}
#notebook .correct_book h5 {
  font-size: 40px;
}
#notebook .correct_book .glyphicon {
  margin: 30px;
  font-size: 120px;
}
#notebook .correct_book .glyphicon:hover {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
#notebook .correct_book p {
  font-size: 24px;
  margin: 20px 0;
}
#chartcontainer {
  width: 100%;
  height: 300px;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  margin-bottom: 20px;
}
#about {
  margin-top: 90px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
@media (max-width: 767px) {
  #about {
    margin-top: 50px;
  }
}
#about .parallax-window {
  min-height: 350px;
  background: transparent;
}
#about .caption {
  width: 100%;
  position: absolute;
  top: 200px;
}
@media (max-width: 767px) {
  #about .caption {
    top: 100px;
  }
}
#about .title {
  margin: 10px auto;
  color: #777777;
}
#about .title h3 {
  letter-spacing: 10px;
  margin-bottom: 20px;
}
#about .title p {
  letter-spacing: 5px;
  font-size: 24px;
  color: #888888;
}
#about .box-whatwedo {
  background-color: #337ab7;
  padding: 30px 50px 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}
#about .box-whatwedo h2 {
  letter-spacing: 10px;
  margin-bottom: 30px;
}
#about .box-whatwedo h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}
#about .box-whatwedo p {
  line-height: 24px;
}
#about .box-workteam {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
#about .box-workteam h2 {
  margin-left: 20px;
  padding-left: 20px;
  letter-spacing: 10px;
}
#about .box-workteam h3 {
  font-size: 20px;
  padding-left: 20px;
  margin-top: 0;
  letter-spacing: 5px;
  color: #5bc0de;
}
#about .box-workteam p {
  padding: 0 20px;
  color: #555555;
  line-height: 24px;
}
#about .box-workteam .team_list_cv {
  color: #888888;
}
#about .box-contact {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #5bc0de;
  color: white;
}
#about .box-contact .addressphone {
  margin-bottom: 30px;
  margin-top: 30px;
}
#about .box-contact .openinghousrs {
  margin-bottom: 30px;
  margin-top: 30px;
}
#interaction {
  margin-top: 90px;
  color: #555555;
  background: #eeeeee;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#interaction .title {
  margin-top: 40px;
  margin-bottom: 30px;
}
#interaction .thumbnail {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  background-color: #f0f0f0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
}
#interaction .thumbnail:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#interaction .item_show {
  margin-bottom: 50px;
}
#savetime {
  margin-top: 90px;
  background: black url(../images/desk.jpg) no-repeat top center;
  color: white;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#savetime .title {
  margin-top: 60px;
  margin-bottom: 60px;
}
#savetime .item_show {
  margin-bottom: 60px;
}
#savetime .item {
  width: 100%;
  height: 200px;
  background-color: transparent;
  cursor: pointer;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  margin-bottom: 20px;
}
#savetime .item:hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
#savetime .item:hover .back {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
#savetime .item .front,
#savetime .item .back {
  width: 100%;
  height: 200px;
  background-color: #337ab7;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
#savetime .item .front {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 30px;
  padding: 20px;
}
#savetime .item .front .glyphicon {
  font-size: 60px;
}
#savetime .item .back {
  position: absolute;
  bottom: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 20px;
  padding: 20px;
}
#savetime .item_2 .front,
#savetime .item_2 .back {
  background-color: #5bc0de;
}
#savetime .item_3 .front,
#savetime .item_3 .back {
  background-color: #f0ad4e;
}
#savetime .item_4 .front,
#savetime .item_4 .back {
  background-color: #d9534f;
}
#course {
  background-color: #eeeeee;
  margin-top: 90px;
}
@media (max-width: 767px) {
  #course {
    margin-top: 50px;
  }
  #course * {
    margin: 0;
    padding: 0;
  }
  #course * .key > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  #course .container {
    padding: 0 5px;
  }
}
#course .query_zone {
  margin-top: 20px;
}
#course .query_zone label {
  text-align: left;
}
#course .query_zone .result-indicator {
  color: #777777;
  text-align: right;
}
#course .query_zone .result-indicator .result-sum {
  color: #5bc0de;
}
#course .query_zone .result-indicator .current-page {
  color: #d9534f;
}
#course .query_zone .well {
  margin-top: 10px;
  margin-bottom: 0;
}
#course .query_zone .btn-info {
  width: 85%;
}
#course .query_zone .btn {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #course .query_zone .btn {
    margin: 5px auto;
    padding: 5px;
  }
}
#course .course_list {
  background-color: #eeeeee;
  margin: 10px 0px;
}
#course .course_list .classitem {
  padding: 10px;
  margin-bottom: 10px;
  color: #555555;
  background-color: white;
}
#course .course_list .classitem .detail h4 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#course .course_list .classitem .detail p {
  margin: 10px 0;
}
#course .course_list .classitem .course_img img {
  min-width: 100%;
}
#course .course_list .classitem .course_title {
  padding: 5px 5px 0;
  text-align: center;
  margin-top: 5px;
}
#course .course_list .classitem .course_title h5 {
  padding: 5px;
  margin-bottom: 0;
  margin: 0px 15px;
}
@media (max-width: 767px) {
  #course .course_list .classitem .course_title h5 {
    margin: 0px;
  }
}
#course .course_list .classitem .badge {
  font-size: 20px;
  margin: 10px 10px;
  border-radius: 60px;
  width: 60px;
  line-height: 20px;
  background-color: #f0ad4e;
  min-height: 60px;
  padding-top: 10px;
}
#course .course_list .classitem .col-sm-2 {
  padding-left: 5px;
  padding-right: 5px;
}
#course .course_list .classitem .btn {
  margin: 5px 5px 0 0;
}
#course .course_list .classitem .thumbnail {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #course .course_list .classitem {
    padding: 5px;
  }
  #course .course_list .classitem .detail {
    padding-left: 15px;
  }
  #course .course_list .classitem .detail h4 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  #course .course_list .classitem .detail p {
    margin: 5px 0 0;
  }
  #course .course_list .classitem .badge {
    display: block;
    margin: 5px auto;
  }
  #course .course_list .classitem .btn-center {
    text-align: center;
  }
  #course .course_list .classitem .btn-center .btn {
    height: 60px;
    width: 60px;
    border-radius: 60px;
  }
  #course .course_list .classitem .btn-center :last-child {
    margin-left: 20px;
  }
}
#course .teachers ul {
  list-style: none;
  padding: 0px;
}
#course .teachers h4 {
  color: #337ab7;
  font-size: 16px;
}
#portrait {
  background-color: #eeeeee;
  margin-top: 100px;
}
@media (max-width: 767px) {
  #portrait {
    margin-top: 50px;
  }
}
#portrait #fileupload {
  width: 100%;
  margin-bottom: 10px;
}
#portrait .divider {
  border-bottom: 2px solid #555555;
}
#portrait .portrait {
  background-color: white;
  margin: 20px;
  padding: 20px;
}
#portrait .portrait h4 {
  color: #555555;
}
#portrait .upload_img {
  margin-bottom: 20px;
}
#portrait .upload_img img {
  width: 100%;
  max-width: 400px;
}
#portrait .browser h5 {
  color: #555555;
}
#portrait .browser p {
  color: #555555;
}
#pay {
  background-color: #eeeeee;
  margin-top: 100px;
}
@media (max-width: 767px) {
  #pay {
    margin-top: 50px;
  }
}
#pay .order_info {
  margin: 10px;
  line-height: 20px;
}
#pay .order_info .sum {
  color: #d9534f;
  font-size: 24px;
}
#pay .order_info .order_name {
  margin-left: 45px;
  font-size: 16px;
}
#pay .order_info .order_price {
  margin-left: 10px;
}
#pay .order_info .order_detail {
  color: #777777;
  margin: 0 20px 20px 20px;
  background-color: white;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  padding-top: 10px;
}
#pay .order_notice {
  margin-left: 20px;
}
#pay .choose_method {
  text-align: center;
  margin: 10px;
}
#pay .choose_method .icon {
  background-color: white;
  margin: 10px 10px;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  min-height: 200px;
  padding: 50px 0;
}
#pay .choose_method .title {
  margin: 20px 0 30px 0;
}
#pay .wxpay_detial {
  background-color: white;
  border-top: 4px solid #5bc0de;
  margin: 10px 10px 40px 10px;
}
#pay .wxpay_detial .head {
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  margin: 10px 0 10px 20px;
}
#pay .wxpay_detial .qrcode {
  margin: 50px;
  text-align: center;
}
#pay .wxpay_detial .qrcode img {
  border: 1px solid #eeeeee;
}
#pay .wxpay_detial .qrcode_desc {
  background-color: #5bc0de;
  text-align: center;
  color: white;
  margin: 0 100px;
  padding: 10px 0;
}
#pay .wxpay_detial .return {
  margin: 10px 10px 20px 20px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  font-size: 16px;
  color: #5bc0de;
}
#pay .wxpay_detial .return a {
  text-decoration: none;
}
#pay_private {
  background-color: #eeeeee;
  margin-top: 20px;
}
@media (max-width: 767px) {
  #pay_private {
    margin-top: 50px;
  }
}
#pay_private .order_info {
  margin: 10px;
  line-height: 20px;
}
#pay_private .order_info .sum {
  color: #d9534f;
  font-size: 24px;
}
#pay_private .order_info .order_name {
  margin-left: 20px;
  font-size: 16px;
}
#pay_private .order_info .order_price {
  margin-left: 10px;
}
#pay_private .order_info .order_detail {
  color: #777777;
  margin: 20px;
}
#pay_private .order_notice {
  margin-left: 20px;
}
#pay_private .choose_method {
  text-align: center;
  margin: 10px;
}
#pay_private .choose_method .icon {
  background-color: white;
  margin: 10px 10px;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  min-height: 200px;
  padding: 50px 0;
}
#pay_private .choose_method .title {
  margin: 20px 0 30px 0;
}
#pay_private .wxpay_detial {
  background-color: white;
  border-top: 4px solid #5bc0de;
  margin: 10px 10px 40px 10px;
}
#pay_private .wxpay_detial .head {
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  margin: 10px 0 10px 20px;
}
#pay_private .wxpay_detial .qrcode {
  margin: 50px;
  text-align: center;
}
#pay_private .wxpay_detial .qrcode img {
  border: 1px solid #eeeeee;
}
#pay_private .wxpay_detial .qrcode_desc {
  background-color: #5bc0de;
  text-align: center;
  color: white;
  margin: 0 100px;
  padding: 10px 0;
}
#pay_private .wxpay_detial .return {
  margin: 10px 10px 20px 20px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  font-size: 16px;
  color: #5bc0de;
}
#pay_private .wxpay_detial .return a {
  text-decoration: none;
}
#userinfo {
  background-color: #eeeeee;
  margin-top: 100px;
}
@media (max-width: 767px) {
  #userinfo {
    margin-top: 50px;
  }
}
#userinfo .divider {
  border-bottom: 2px solid #555555;
}
#userinfo .userinfo {
  background-color: white;
  margin: 20px;
  padding: 20px;
}
#userinfo .userinfo form {
  margin-top: 20px;
}
#exam-result {
  background-color: white;
  margin-top: 90px;
}
@media (max-width: 767px) {
  #exam-result {
    margin-top: 50px;
  }
}
#exam-result .result-area {
  margin: 30px;
  color: #777777;
}
@media (max-width: 767px) {
  #exam-result .result-area {
    margin: 30px 0;
  }
}
#exam-result .result-area .title {
  font-size: 18px;
  margin-bottom: 20px;
}
#exam-result .result-area .result-display {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid #eeeeee;
  padding: 0;
}
#exam-result .result-area .result-display .subject {
  background-color: #fff4c0;
  -webkit-border-radius: 20px 20px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px 20px 0 0;
  -moz-background-clip: padding;
  border-radius: 20px 20px 0 0;
  background-clip: padding-box;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
}
#exam-result .result-area .result-display .subject label {
  padding: 15px 0 0 0;
  letter-spacing: 5px;
  font-style: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#exam-result .result-area .result-display fieldset {
  padding: 20px;
}
#exam-search {
  background-color: white;
  margin-top: 90px;
}
@media (max-width: 767px) {
  #exam-search {
    margin-top: 50px;
  }
}
#exam-search .search-area {
  margin: 30px;
  color: #777777;
}
@media (max-width: 767px) {
  #exam-search .search-area {
    margin: 30px 0;
  }
}
#exam-search .search-area .title {
  font-size: 18px;
  margin-bottom: 20px;
}
#exam-search .search-area .search_form {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid #eeeeee;
  padding: 0;
}
#exam-search .search-area .search_form .subject {
  background-color: #fff4c0;
  -webkit-border-radius: 20px 20px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px 20px 0 0;
  -moz-background-clip: padding;
  border-radius: 20px 20px 0 0;
  background-clip: padding-box;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
}
#exam-search .search-area .search_form .subject label {
  padding: 15px 0 0 0;
  letter-spacing: 5px;
  font-style: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#exam-search .search-area .search_form fieldset {
  padding: 20px;
}
#login {
  background-color: white;
  margin-top: 90px;
}
@media (max-width: 767px) {
  #login {
    margin-top: 50px;
  }
}
#login .login-area {
  margin: 30px;
  color: #777777;
}
@media (max-width: 767px) {
  #login .login-area {
    margin: 30px 0;
  }
}
#login .login-area .title {
  font-size: 18px;
  margin-bottom: 20px;
}
#login .login-area .login_form {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid #eeeeee;
  padding: 0;
}
#login .login-area .login_form .subject {
  background-color: #fff4c0;
  -webkit-border-radius: 20px 20px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px 20px 0 0;
  -moz-background-clip: padding;
  border-radius: 20px 20px 0 0;
  background-clip: padding-box;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
}
#login .login-area .login_form .subject label {
  padding: 15px 0 0 0;
  letter-spacing: 5px;
  font-style: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#login .login-area .login_form fieldset {
  padding: 20px;
}
#login .imin {
  float: right;
  margin-top: 5px;
}
#login .imin a {
  text-decoration: none;
  color: #5bc0de;
}
#login .forget-password {
  float: right;
  font-size: 13px;
}
#login .forget-password a {
  text-decoration: none;
  color: #5bc0de;
}
#login .cover {
  margin-top: 10px;
}
#forget-password {
  background-color: white;
  margin-top: 90px;
}
@media (max-width: 767px) {
  #forget-password {
    margin-top: 50px;
  }
}
#forget-password .login-area {
  margin: 30px;
  color: #777777;
}
@media (max-width: 767px) {
  #forget-password .login-area {
    margin: 30px 0;
  }
}
#forget-password .login-area .title {
  font-size: 18px;
  margin-bottom: 20px;
}
#forget-password .login-area .login_form {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid #eeeeee;
  padding: 0;
}
#forget-password .login-area .login_form .subject {
  background-color: #fff4c0;
  -webkit-border-radius: 20px 20px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px 20px 0 0;
  -moz-background-clip: padding;
  border-radius: 20px 20px 0 0;
  background-clip: padding-box;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
}
#forget-password .login-area .login_form .subject label {
  padding: 15px 0 0 0;
  letter-spacing: 5px;
  font-style: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#forget-password .login-area .login_form fieldset {
  padding: 20px;
}
#forget-password .cover {
  margin-top: 100px;
}
#register {
  background-color: white;
  margin-top: 90px;
}
@media (max-width: 767px) {
  #register {
    margin-top: 50px;
  }
}
#register .login-area {
  margin: 30px;
  color: #777777;
}
@media (max-width: 767px) {
  #register .login-area {
    margin: 30px 0;
  }
}
#register .login-area .title {
  font-size: 18px;
  margin-bottom: 20px;
}
#register .login-area .login_form {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid #eeeeee;
  padding: 0;
}
#register .login-area .login_form .subject {
  background-color: #fff4c0;
  -webkit-border-radius: 20px 20px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px 20px 0 0;
  -moz-background-clip: padding;
  border-radius: 20px 20px 0 0;
  background-clip: padding-box;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
}
#register .login-area .login_form .subject label {
  padding: 15px 0 0 0;
  letter-spacing: 5px;
  font-style: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
}
#register .login-area .login_form fieldset {
  padding: 20px;
}
#register .imin {
  float: right;
  margin-top: 5px;
}
#register .imin a {
  text-decoration: none;
  color: #5bc0de;
}
#register .cover {
  margin-top: 100px;
}
#complement {
  background-color: #eeeeee;
  margin-top: 100px;
}
@media (max-width: 767px) {
  #complement {
    margin-top: 50px;
  }
}
#complement .divider {
  border-bottom: 2px solid #555555;
}
#complement .complement {
  background-color: white;
  margin: 20px;
  padding: 20px;
}
#complement .complement form {
  margin-top: 20px;
}
#exam {
  background-color: #eeeeee;
}
#exam .bookmark {
  font-size: 30px;
  margin-left: 6px;
}
#exam .bookmark a {
  color: #5bc0de;
}
#exam button {
  outline: none;
}
#exam .marked {
  font-size: 30px;
  margin-left: 6px;
}
#exam .marked a {
  color: #eeeeee;
}
#exam_content {
  background-color: #eeeeee;
  margin-top: 90px;
  padding: 20px;
}
@media (max-width: 767px) {
  #exam_content {
    margin-top: 50px;
    padding: 20px 0px;
  }
}
#exam_content .key-subject {
  padding-left: 10px;
}
#exam_content .marker p {
  margin: 10px;
  letter-spacing: 1px;
}
#exam_content .well {
  margin: 10px;
}
#exam_content .well span {
  margin-bottom: 10px;
}
#exam_content .exam_object {
  background-color: white;
  margin: 10px;
  padding: 10px 0;
}
#exam_content .exam_object .exam_option {
  margin-bottom: 5px;
}
#exam_content .done_logo {
  float: right;
  position: relative;
  top: -200px;
  right: 100px;
}
@media (max-width: 991px) {
  #exam_content .exam_area .affix {
    position: static;
    width: auto;
    top: 0;
  }
}
#exam_content .badge {
  font-size: 20px;
  margin: 5px 10px;
  border-radius: 5px;
  min-height: 20px;
  min-width: 20px;
  background-color: #f0ad4e;
}
#mycourse {
  margin-top: 100px;
}
@media (max-width: 767px) {
  #mycourse {
    margin-top: 50px;
  }
  #mycourse .row {
    margin-left: -40px;
    margin-right: -40px;
  }
  #mycourse .course_img img {
    width: 100%;
  }
}
#mycourse .divider {
  border-bottom: 2px solid #555555;
}
#mycourse .myscore {
  margin: 30px;
  color: #555555;
}
#mycourse .myscore h4 {
  color: #777777;
  z-index: -1;
  padding-left: 0;
}
#mycourse .myscore h5 {
  color: #5bc0de;
}
#mycourse .myscore .badge {
  margin-top: 40px;
  font-size: 16px;
  border-radius: 30px;
  min-height: 60px;
  min-width: 30px;
  background-color: #f0ad4e;
}
@media (max-width: 991px) {
  #mycourse .myscore .badge {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    border-radius: 80px;
    min-height: 80px;
    min-width: 80px;
  }
}
#mycourse .myscore .score_style {
  color: #f0ad4e;
}
#mycourse .mycourse {
  margin: 30px;
  color: #555555;
}
#mycourse .mycourse .course_list {
  background-color: #eeeeee;
  padding: 20px 0;
  margin-bottom: 10px;
}
#mycourse .mycourse h4 {
  color: #777777;
}
#mycourse .mycourse h5 {
  padding: 5px 0;
  margin-bottom: 0;
}
#mycourse .mycourse .course_title {
  padding: 5px 5px 0;
  text-align: center;
}
@media (max-width: 767px) {
  #mycourse .mycourse .course_title {
    margin-bottom: 20px;
  }
}
#mycourse .mycourse .button_list {
  padding-top: 10px;
  text-align: center;
  color: #337ab7;
}
#mycourse .mycourse .note_exercise .badge {
  font-size: 16px;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 40px;
  min-height: 40px;
  min-width: 60px;
  height: 68px;
  background-color: #f0ad4e;
}
#mycourse .mycourse a {
  color: #555555;
  text-decoration: none;
}
#mycourse .mycourse .exam_object {
  background-color: white;
  margin: 10px;
  padding: 10px 0;
}
#mycourse .mycourse .exam_object .exam_option {
  margin-bottom: 5px;
}
#mycourse .mycourse .done_logo {
  float: right;
  position: relative;
  top: -200px;
  right: 100px;
}
@media (max-width: 991px) {
  #mycourse .mycourse .exam_area .affix {
    position: static;
    width: auto;
    top: 0;
  }
}
#mycourse .mycourse .badge {
  font-size: 20px;
  margin: 5px 10px;
  border-radius: 5px;
  min-height: 20px;
  min-width: 20px;
  background-color: #f0ad4e;
}
#mycourse .mycourse .chapter .show_chapter {
  text-align: right;
  margin: 20px 20px 0 0;
  color: #f0ad4e;
  cursor: pointer;
  letter-spacing: 2px;
}
#detail {
  color: #555555;
  margin-top: 90px;
  padding: 20px;
}
@media (max-width: 767px) {
  #detail {
    margin-top: 50px;
    padding: 20px 0px;
  }
}
@media (max-width: 991px) {
  #detail .affix {
    position: static;
    width: auto;
    top: 0;
  }
}
#detail .course_title h5 {
  color: #337ab7;
}
#detail .course_info_area {
  background-color: #eeeeee;
}
#detail .course_info_area .price_real {
  color: #d9534f;
}
#detail .course_info_area .cash_back {
  color: #337ab7;
  font-size: 16px;
}
#detail .online_pub {
  list-style-type: none;
  margin-top: 15px;
  color: #337ab7;
}
#detail .marked {
  color: #f0ad4e;
}
#detail .unmarked {
  color: #777777;
}
#detail .hot {
  background-color: #eeeeee;
  cursor: pointer;
  text-align: center;
  color: #d9534f;
}
#detail .complet {
  color: #f0ad4e;
  text-align: center;
  padding: 6px;
}
#detail .available {
  border: 3px solid #d9534f;
  color: #d9534f;
  background-color: #eeeeee;
  cursor: pointer;
  text-align: center;
}
#detail .badge {
  font-size: 20px;
  margin: 10px 10px;
  padding: 20px 0;
  border-radius: 50px;
  min-height: 80px;
  min-width: 80px;
  background-color: #f0ad4e;
}
#detail h4 {
  color: #555555;
  border-bottom: 2px solid #555555;
}
#detail #btn_join_price {
  font-size: 18px;
}
#detail .teacher_info {
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  margin-bottom: 20px;
}
#detail .teacher_info .teacher_special {
  color: #f0ad4e;
}
#detail .teacher_info .teacher_special1 {
  color: #5bc0de;
}
#detail .teacher_info h4 {
  border-bottom: none;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#detail .teacher_info h5 {
  letter-spacing: 0.05em;
  line-height: 20px;
}
#detail .slider_menu .row {
  margin-bottom: 20px;
}
#detail .slider_menu ul {
  list-style: none;
}
#detail .slider_menu ul li {
  margin-bottom: 10px;
}
#detail .slider_menu ul li a {
  text-decoration: none;
  color: #777777;
}
#detail .slider_menu ul li a:hover {
  border-bottom: 2px solid #d9534f;
}
#detail .slider_menu .try_lesson {
  padding-left: 30px;
}
#detail .slider_menu .buy_lesson {
  padding-left: 30px;
}
@media (max-width: 991px) {
  #detail .slider_menu .buy_lesson {
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
  }
  #detail .slider_menu .buy_lesson .btn {
    width: 100%;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    zoom: 1;
    filter: alpha(opacity=90);
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
  }
}
#detail .choose_teacher h5 {
  margin-right: 10px;
}
#detail .progress {
  margin-top: 8px;
}
#detail .student_commends h6 {
  color: #5bc0de;
}
#replayadmin {
  color: #555555;
  background-color: #eeeeee;
  margin-top: 90px;
}
@media (max-width: 767px) {
  #replayadmin {
    margin-top: 50px;
    padding: 20px 0px;
  }
}
#replayadmin .query-date {
  margin: 20px 30px;
}
#replayadmin #progress {
  padding-left: 0;
  padding-right: 0;
}
#replayadmin #browserPlayer,
#replayadmin #montageMsgZone {
  margin-left: 15px;
}
#replayadmin #browserForm div {
  margin-bottom: 20px;
}
#replayadmin #player {
  margin: 20px;
}
#replayadmin #mongtageForm {
  margin-bottom: 20px;
}
footer {
  background-color: #e1e1e1;
  color: white;
  padding: 80px 0px;
  min-height: 200px;
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  footer {
    padding: 60px 0px;
    text-align: center;
  }
}
footer .col-sm-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
  vertical-align: top;
}
@media (max-width: 767px) {
  footer .col-sm-2 {
    width: 100%;
  }
}
footer img {
  margin-top: 10px;
  margin-left: 15px;
  width: 137px;
  vertical-align: middle;
}
@media (max-width: 991px) {
  footer img {
    margin: 5px;
  }
}
footer h5 {
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  color: #6e6e72;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  footer h5 {
    margin: 15px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li {
  line-height: 24px;
  margin: 10px 0;
  display: list-item;
  font-size: 14px;
}
@media (max-width: 767px) {
  footer ul li {
    margin: 15px 0;
    font-size: 16px;
  }
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a:hover,
footer ul li a:focus {
  color: white;
  text-decoration: none;
}
footer .copyright {
  margin-top: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体", Arial;
  color: #6e6e72;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
}
footer .copyright i {
  font-style: normal;
}
@media (max-width: 767px) {
  footer .copyright span {
    display: block;
    margin: 10px auto;
    width: 250px;
  }
}
.footer {
  background-color: #e1e1e1;
  color: black;
  padding: 20px;
}
.footer .logo {
  text-align: center;
}
.footer .logo span {
  margin-top: 15px;
}
.footer p {
  font-size: 12px;
  line-height: 26px;
}
#back-top {
  display: none;
}
#back-top a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background-color: #434345;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font: 12px/100% Arial, Helvetica, sans-serif;
  transition: .5s;
}
#back-top a:hover {
  background-color: #FEC20B;
}
#back-top span {
  line-height: 42px;
  padding-left: 2px;
  font-size: 12px;
  transition: 1s;
}
#back-top-wrapper {
  position: fixed;
  right: 5%;
  bottom: 10px;
  overflow: hidden;
  z-index: 99;
}
.view-animate {
  opacity: 0;
}
.view-animate.active {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fadeInLeft.active {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.fadeInRight.active {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.fadeInUp.active {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.fadeInRotate.active {
  -webkit-animation-name: fadeInRotate;
  animation-name: fadeInRotate;
}
.zoomIn.active {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/*some keyframes*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px) scale(0.8);
    transform: translateX(-150px) scale(0.8);
  }
  70% {
    -webkit-transform: translateX(10px) scale(1.02);
    transform: translateX(10px) scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px) scale(0.8);
    transform: translateX(-150px) scale(0.8);
  }
  70% {
    -webkit-transform: translateX(10px) scale(1.02);
    transform: translateX(10px) scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px) scale(0.8);
    transform: translateX(150px) scale(0.8);
  }
  70% {
    -webkit-transform: translateX(-10px) scale(1.02);
    transform: translateX(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px) scale(0.8);
    transform: translateX(150px) scale(0.8);
  }
  70% {
    -webkit-transform: translateX(-10px) scale(1.02);
    transform: translateX(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px) scale(0.8);
    transform: translateY(50px) scale(0.8);
  }
  70% {
    -webkit-transform: translateY(10px) scale(1.02);
    transform: translateY(10px) scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px) scale(0.8);
    transform: translateY(50px) scale(0.8);
  }
  70% {
    -webkit-transform: translateY(10px) scale(1.02);
    transform: translateY(10px) scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  70% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  70% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInRotate {
  0% {
    opacity: 1;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translateX(-150px) rotate(-360deg);
    transform: translateX(-150px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes fadeInRotate {
  0% {
    opacity: 1;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translateX(-150px) rotate(-360deg);
    transform: translateX(-150px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}
/*animation-delay*/
.delay-02 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.delay-04 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.delay-06 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.delay-08 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
.delay-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
